<template>
	<b-modal id="supplier" size="lg" title="Supplier" @ok="save" ref="supplier_model" @cancel="discard" @close="discard" @hide="onHide">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="supplier_code">Supplier Code *</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.supplier_code}" v-model="supplier.supplier_code"  placeholder="Supplier Code" readonly>
                    <div v-if="errors.supplier_code" class="invalid-feedback">{{ errors.supplier_code[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="supplier_name">Supplier Name *</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.supplier_name}" v-model="supplier.supplier_name"  placeholder="Supplier Name" ref="supplier_name">
                    <div v-if="errors.supplier_name" class="invalid-feedback">{{ errors.supplier_name[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input class="form-control"  type="text" :class="{'is-invalid': errors.email}" v-model="supplier.email" placeholder="Email">
                    <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="mobile_no">Mobile No *</label>
                    <input class="form-control"  type="text" :class="{'is-invalid': errors.mobile_no}" v-model="supplier.mobile_no"  placeholder="Mobile No">
                    <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="phone_no">Phone No</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.phone_no}" v-model="supplier.phone_no"  placeholder="Phone No">
                    <div v-if="errors.phone_no" class="invalid-feedback">{{ errors.phone_no[0] }}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="pan_no">PAN No</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.pan_no}" v-model="supplier.pan_no"  placeholder="PAN NO">
                    <div v-if="errors.pan_no" class="invalid-feedback">{{ errors.pan_no[0] }}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="gstin_no">GSTIN No</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.gstin_no}" v-model="supplier.gstin_no"  placeholder="GSTIN No">
                    <div v-if="errors.gstin_no" class="invalid-feedback">{{ errors.gstin_no[0] }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="billing_address">Billing Address</label>
                    <textarea class="form-control" type="text" :class="{'is-invalid': errors.billing_address}" v-model="supplier.billing_address" placeholder="Billing Address"></textarea>
                    <div v-if="errors.billing_address" class="invalid-feedback">{{ errors.billing_address[0] }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="shipping_address">Shipping Address</label>
                    <textarea class="form-control" type="text" :class="{'is-invalid': errors.shipping_address}" v-model="supplier.shipping_address"  placeholder="Shipping Address"></textarea>
                    <div v-if="errors.shipping_address" class="invalid-feedback">{{ errors.shipping_address[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="account_no">Account No</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.account_no}" v-model="supplier.account_no" placeholder="Account No">
                    <div v-if="errors.account_no" class="invalid-feedback">{{ errors.account_no[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="ifsc_code">IFSC Code</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.ifsc_code}" v-model="supplier.ifsc_code" placeholder="IFSC Code">
                    <div v-if="errors.ifsc_code" class="invalid-feedback">{{ errors.ifsc_code[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="bank_name">Bank Name</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.bank_name}" v-model="supplier.bank_name"  placeholder="Bank Name">
                    <div v-if="errors.bank_name" class="invalid-feedback">{{ errors.bank_name[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="branch_name">Branch Name</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.branch_name}" v-model="supplier.branch_name"  placeholder="Branch Name">
                    <div v-if="errors.branch_name" class="invalid-feedback">{{ errors.branch_name[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="date_of_birth">Date of Birth</label>
                    <input class="form-control" type="date" :class="{'is-invalid': errors.date_of_birth}" v-model="supplier.date_of_birth" placeholder="Date of Birth">
                    <div v-if="errors.date_of_birth" class="invalid-feedback">{{ errors.date_of_birth[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="wedding_anniversary">Wedding Anniversary</label>
                    <input class="form-control" type="date" :class="{'is-invalid': errors.wedding_anniversary}" v-model="supplier.wedding_anniversary"  placeholder="Wedding Anniversary">
                    <div v-if="errors.wedding_anniversary" class="invalid-feedback">{{ errors.wedding_anniversary[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="payment_term_id">Payment Terms*</label>
                    <select class="form-control"  :class="{'is-invalid': errors.payment_term_id}" v-model="supplier.payment_term_id">
                        <option value="">Select Payment Term</option>
                        <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>
                    </select>
                    <div v-if="errors.payment_term_id" class="invalid-feedback">{{ errors.payment_term_id[0] }}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="place_id">Place*</label>
                    <select class="form-control"  :class="{'is-invalid': errors.place_id}" v-model="supplier.place_id"  >
                        <option value="">Select Places</option>
                        <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                    </select>
                    <div v-if="errors.place_id" class="invalid-feedback">{{ errors.place_id[0] }}</div>
                </div>
            </div>
        </div>
    </b-modal>
</template>
<script>
    export default{
    	props:{
    		
    	},
        data(){
            return{
                status:0,
                supplier:{
                    supplier_code :'',
                    supplier_name :'',
                    email :'',
                    mobile_no :'',
                    phone_no :'',
                    pan_no :'',
                    gstin_no :'',
                    billing_address :'',
                    shipping_address :'',
                    account_no :'',
                    branch_name :'',
                    bank_name :'',
                    ifsc_code :'',
                    payment_term_id :'',
                    place_id :'',
                    date_of_birth :'',
                    wedding_anniversary :'',
                },
                payment_terms:[],
                places:[],
                errors:[]
            }
        },

        mounted(){
        	let vm = this;        	
            vm.discard();
            vm.get_supplier_code();
        },

        methods:{
            onHide(evt) {
              if(evt.trigger === "backdrop"){
                evt.preventDefault();
              }
            },

            discard(){
                let vm = this;
                vm.errors=[],
                vm.supplier={},
                vm.status=0,
                vm.get_supplier_code();                           
            },

            get_supplier_code(){
                let vm = this;
                axios.post('get_supplier_code')
                .then(function (response) {
                    vm.supplier.supplier_code = response.data;
                    vm.get_payment_terms();
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            get_payment_terms(){
                let vm = this;
                axios.post('get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data;
                    vm.get_places();
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            get_places(){
                let vm = this;
                axios.post('get_places')
                .then(function (response) {
                    vm.places = response.data;
                    vm.setData();
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            setData(){
                let vm = this;
                if(vm.status==0) {
                    vm.supplier.payment_term_id = vm.payment_terms[0].payment_term_id,
                    vm.supplier.place_id = vm.places[0].place_id
                }
            },

            save(){
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('suppliers',this.supplier)
                .then(function (response) {
                    vm.supplier = '';
                    vm.$dlg.close(null, key),
                    vm.toast("Supplier is successfully created",'success'),
                    vm.select(response.data);
                    vm.discard();
                })
                .catch(function(error) {
                    console.log(error);
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error');
                    vm.$refs.supplier_model.show();
                });
            },

            
            select(result) {
                this.$emit('supplier', {
                    target: {
                        value: result
                    }
                })
                //this.close()
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>
