<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                Inventory
            </li>
            <li class="breadcrumb-item active">Categories</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Category</strong>
                                <strong v-if="status==1">Update Category</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                   
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="category_name">Category Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.category_name}" type="text" v-model="category.category_name" placeholder="Category Name" ref="category_name" >
                                            <div v-if="errors.category_name" class="invalid-feedback">{{ errors.category_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea class="form-control" :class="{'is-invalid': errors.description}" v-model="category.description"   type="text"  placeholder="Description"></textarea>
                                            <div v-if="errors.description" class="invalid-feedback">{{ errors.description[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" >
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()" v-show="status==0">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()" v-show="status==1">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>Categories</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Category Name</th>
                                            <th>Description</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="category,key in categories">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ category.category_name }}</td>
                                            <td>{{ category.description }}</td>
                                            <td class="text-nowrap text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(category)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(category)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props:['user'],
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                category:{
                    category_id:'',
                    category_name:'',
                    description:'',
                },
                categories:[],
                errors:[]
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            
            discard(){
                let vm = this;
                vm.errors={},
                vm.category.category_name='',
                vm.category.description='',
                vm.pagination.search='',
                vm.status=0,
                vm.$refs.category_name.focus(),
                vm.errors={},
                vm.display();
            },


            display() {
                let vm = this;
                axios.get('categories?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.categories = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page                
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('categories',vm.category)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.discard(),
                    vm.toast("Category is successfully created",'success')
                })
                .catch(function (error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            edit(category){
                let vm = this;
                vm.category = category,
                vm.status = 1,
                vm.$refs.category_name.focus()
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.patch(`categories/${vm.category.category_id}`,vm.category)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.discard(),
                    vm.toast("Category is successfully updated",'success')
                })
                .catch(function (error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            destroy(category) {
                let vm = this;
                if(confirm('Do you want to continue ?')) {
                    let key = vm.$dlg.mask("Loading...");
                    axios.delete(`categories/${category.category_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.discard(),
                        vm.toast("Category is successfully deleted",'success')
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>
