<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Inventory</li>
            <li class="breadcrumb-item active">Product</li>
            <li class="breadcrumb-right">
                <router-link to="/products" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Products
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-show="status==0">New Product</strong>
                                <strong v-show="status==1">Update Product</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                   <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="category_id">Category *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.category_id}" v-model="product.category_id" ref="category_id">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" :value="category.category_id" >{{ category.category_name }}</option>
                                            </select>
                                            <div v-if="errors.category_id" class="invalid-feedback">{{ errors.category_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="product_name">Product Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.product_name}" v-model="product.product_name" placeholder="Product Name" ref="product_name">
                                            <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="amount">Amount * </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.amount}" v-model="product.amount" placeholder="Opening Stock" >
                                            <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea class="form-control" :class="{'is-invalid': errors.description}" v-model="product.description" placeholder="Description"></textarea>
                                            <div v-if="errors.description" class="invalid-feedback">{{ errors.description[0] }}</div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/products" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default{
    	props:['user'],
        data(){
            return{
                status: 0,
                product:{
                    product_name : '',
                    category_id : '',
                    amount:'',
                    description : '',
                },
                categories:[],
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='products.create') {
                next(vm => {
                    vm.$refs.category_id.focus(),
                    vm.discard();
                });
            }
            else {
                axios.get(`products/${to.params.product_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.product = response.data,
                        vm.status = 1,
                        vm.getCategories();
                        vm.$refs.category_id.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        methods:{
            discard(){
                let vm = this;
                vm.product.product_name  = '',
                vm.product.category_id  = '',
                vm.product.description  = '',
                vm.product.amount = '',
                vm.status=0;
                vm.$refs.category_id.focus();
                vm.getCategories();           
            },

            getCategories(){
                let vm = this;
                axios.get('get_categories')
                .then(function (response) {
                    vm.categories = response.data;
                    console.log(vm.categories);
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

           
            save(){
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('products',this.product)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Product is successfully created",'success')
                    vm.$router.push('/products')
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key);
                    if (vm.product.primary_image == '') {
                    vm.$set(vm.product,'primary_image','storage/subcategories/image.png');
                    }
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.patch(`products/${vm.product.product_id}`,vm.product)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Product is successfully updated",'success'),
                    vm.$router.push('/products')
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>