<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Inventory</li>
            <li class="breadcrumb-item active">Products</li>
            <li class="breadcrumb-right">
                <router-link to="/products/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Product
                </router-link>
                <router-link to="/product/catalogs" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Product Catalog
                </router-link>
                 <button type="button" class="btn btn-xs btn-success text-white" v-b-modal.import>
                        <i class="fa fa-file-pdf-o"></i> Import
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Products</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Classification</th>
                                            <th>Category</th>
                                            <th>Subcategory</th>
                                            <th>Unit</th>
                                            <th>Gross Wgt</th>
                                            <th>Net Wgt</th>
                                            <th>Size</th>
                                            <th>Factory Code</th>
                                            <th>Supplier</th>
                                            <th>OS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="product,key in products" @click='show(product)' class="cursor">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ product.product_code }}</td>
                                            <td>{{ product.product_name }}</td>
                                            <td>{{ product.classification.classification_name }}</td>
                                            <td>{{ product.category.category_name }}</td>
                                            <td>{{ product.subcategory.subcategory_name }}</td>
                                            <td>{{ product.unit }}</td>
                                            <td>{{ product.gross_weight }}</td>
                                            <td>{{ product.net_weight }}</td>
                                            <td>{{ product.size }}</td>
                                            <td>{{ product.factory_code }}</td>
                                            <td v-text="product.supplier!=null?product.supplier.supplier_name:''"></td>
                                            <td >{{ product.opening_stock }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="import" title="Import Products" @ok="upload">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                            <b>Upload File</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" >
                                            <label for="master_value">File </label>
                                            <input class="form-control" :class="{'is-invalid': errors.file}" type="file" placeholder="Excel File" ref="file">
                                            <div v-if="errors.file" class="invalid-feedback">{{ errors.file[0] }}</div>
                                        </div>
                                         <a href="storage/demo/product.xlsx" >
                                            <i class="fa fa-file-excel-o"></i> Excel Format
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script type="text/javascript">
import moment from 'moment'
    export default{
    	props:['user'],
        data(){
            return{
               pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                products:[],
                errors:[]
            }
        },
        mounted(){
            let vm = this;
                vm.$refs.search.focus();
                vm.display();
        },
        methods:{

            display(){
                let vm = this;
                axios.get('products?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.products = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            
            show(product) {
                let vm = this;
                vm.$router.push(`/products/${product.product_id}`);
            },

            upload(){
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                vm.formData = new FormData();
                vm.formData.append('file', vm.$refs.file.files[0]);
                axios.post('products/import/excel',this.formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Excel is successfully uploaded",'success');
                    vm.display();
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error'),
                    vm.$bvModal.show('import')
                });
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>