<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Inventory</li>
            <li class="breadcrumb-item active">Product</li>

            <li class="breadcrumb-right">
                <router-link to="/products" class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/products/create" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button type="button" @click="edit()" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy()" type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <button v-b-modal.image type="button" class="btn btn-sm btn-primary">
                    Add Image
                </button>
            </li>
        </ol>
       
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                Product Code: 
                                <strong>{{ product.product_code}}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row pb-3 pl-4">
                                    <div class="col-sm-6">
                                        <img :src="barcode" width="100%" height="60px;"  alt="barcode"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <img :src="qrcode" class="pl-1"  alt="barcode"/>
                                    </div>
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <tbody>
                                        <tr>
                                            <th>Product Name</th>
                                            <td>{{ product.product_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Product Type</th>
                                            <td>{{ product.product_type }}</td>
                                        </tr>
                                        <tr>
                                            <th>HSN Code</th>
                                            <td>{{ product.hsn_code }}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td>{{ product.description }}</td>
                                        </tr>
                                         <tr>
                                            <th>Classification</th>
                                            <td v-if="product.category">{{ product.classification.classification_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Category</th>
                                            <td v-if="product.category">{{ product.category.category_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Sub Category</th>
                                            <td v-if="product.subcategory">{{ product.subcategory.subcategory_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Unit</th>
                                            <td>{{ product.unit }}</td>
                                        </tr>
                                        <tr>
                                            <th>Gross Weight</th>
                                            <td class="text-right">{{ product.gross_weight }}</td>
                                        </tr>
                                        <tr>
                                            <th>Cover Weight</th>
                                            <td class="text-right">{{ product.cover_weight }}</td>
                                        </tr>
                                        <tr>
                                            <th>Piece Rate</th>
                                            <td class="text-right">{{ product.piece_rate }}</td>
                                        </tr>
                                        <tr>
                                            <th>Net Weight</th>
                                            <td class="text-right">{{ product.net_weight }}</td>
                                        </tr>
                                        <tr>
                                            <th>Stone Color</th>
                                            <td >{{  product.stone_color }}</td>
                                        </tr>
                                        <tr>
                                            <th>Purity</th>
                                            <td class="text-right">{{ product.purity }}</td>
                                        </tr>
                                        <tr>
                                            <th>Size</th>
                                            <td class="text-right">{{ product.size }}</td>
                                        </tr>
                                        <tr>
                                            <th>Special Product</th>
                                            <td>{{ product.special_product }}</td>
                                        </tr>
                                        <tr>
                                            <th>Reorder Level</th>
                                            <td class="text-right">{{ product.reorder_level }}</td>
                                        </tr>
                                        <tr>
                                            <th>Reorder Time</th>
                                            <td class="text-right">{{ product.reorder_time }}</td>
                                        </tr>
                                        <tr>
                                            <th>Opening Stock</th>
                                            <td class="text-right">{{ product.opening_stock }}</td>
                                        </tr>
                                        <tr>
                                            <th>Opening Stock As On</th>
                                            <td>{{ product.opening_stock_as_on | moment('DD-MM-YYYY') }}</td>

                                        </tr>
                                        <tr>
                                            <th>Factory Code</th>
                                            <td>{{ product.factory_code }}</td>
                                        </tr>
                                        <tr>
                                            <th>Supplier</th>
                                            <td v-if="product.supplier" v-text="product.supplier!=null?product.supplier.supplier_name:''"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8"  >
                        <div class="card" v-if="product.product_prices != ''" >
                            <div class="card-header">
                                Product Prices
                            </div>
                            <div class="card-body">
                                <div class="row pl-2 pr-2">
                                     <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th >Customer Type</th>
                                                <th >Making Charges</th>
                                                <th >Box Code</th>
                                                <th >Box Rate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="product_price in product.product_prices">
                                                <td>{{ product_price.customer_type }}</td>
                                                <td class="text-right" >{{ (product_price.making_charges*1).toFixed(2) }}</td>
                                                <td class="text-center">{{ product_price.box_code }}</td>
                                                <td class="text-right">{{ (product_price.box_rate *1).toFixed(2) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" v-if="product.product_images != ''">
                            <div class="card-header">
                                Product Images
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div  class="col-sm-4" style="width: 18rem;" v-for="prod_img in product.product_images">
                                        <div class="card-header text-center">{{ prod_img.image_type }}</div>
                                        <div class="card">
                                             <a :href="prod_img.image" data-lightbox="photos">
                                            <img :src="'storage/products/'+prod_img.image" class="card-img-top img-thumbnail" style="height: 15vw;object-fit: cover;" alt="Product Image"></a>
                                            <div class="card-footer text-center">
                                                <button class="btn btn-danger" @click="deleteImage(prod_img)"> <i class="fa fa-trash"></i></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="image" title="Product Image" @ok="addImage" @cancel="canceladdImage" ref="image" @hide="onHide" @close="canceladdImage">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="image">Image *</label>
                        <input class="form-control" type="file" v-on:change="onImageChange($event)">
                    </div>
                     <div class="form-group">
                        <label for="image_type">Image Type *</label>
                        <select class="form-control" :class="{'is-invalid': errors.image_type}" v-model="product.image_type">
                            <option value="">Select Image Type</option>
                            <option value="Primary Image">Primary Image</option>
                            <option value="Secondary Image">Secondary Image</option>
                        </select>
                        <div v-if="errors.image_type" class="invalid-feedback">{{ errors.image_type[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <img  :src="product.image" class="img-thumbnail" height="200" width="100%">
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>

<script >
    import moment from 'moment'
    export default{
        props:['user'],
        data(){
            return{
                product:{},
                barcode:'',
                qrcode:'',
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.get(`products/${to.params.product_id}`)
            .then(function (response) {
                next(vm => {
                    vm.product = response.data;
                    vm.product.image_type="", 
                    vm.getImages();
                    vm.$set(vm.product,'image','');                  
                });
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            onHide(evt) {
              if(evt.trigger === "backdrop"){
                evt.preventDefault();
              }
            },
            
            edit() {
                let vm = this;
                vm.$router.push(`/products/${vm.product.product_id}/edit`);
            },

            destroy(){
                let vm = this;
                if(confirm('Do you want to continue ?')) {
                    let key = vm.$dlg.mask("Loading...");
                    axios.delete(`products/${vm.product.product_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.toast("Product is successfully deleted",'success'),
                        vm.$router.push('/products');
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            getImages(){
                let vm = this;
                axios.post('get_barcode_qrcode',vm.product)
                .then(function (response) { 
                    let barcode = response.data.barcode;  
                    let qrcode  = response.data.qrcode;  
                    vm.barcode = "data:image/png;base64,"+ barcode;     
                    vm.qrcode = "data:image/png;base64,"+ qrcode;     
                })
                .catch(function(error) {
                    vm.toast(error.response.data.message,'error')
                });
            },

            onImageChange(e) {
                e.preventDefault();
                let vm = this;
                let image = e.target.files[0]; 
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = (e) => {
                    this.product.image = e.target.result;
                };
            },

            addImage(){
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('product_image',vm.product)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.product.product_images.push(response.data),
                    vm.toast("Product Image is successfully saved",'success') ,
                    vm.$set(vm.product,'image','');
                    vm.$set(vm.product,'image_type','');                  
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error'),
                    vm.$bvModal.show('image')
                });
            },

            canceladdImage(){
                let vm = this;
                vm.$set(vm.product,'image','');
                vm.errors = [];
            },

            deleteImage(product_image){
                let vm = this;
                if(confirm('Do you want to continue ?')) {
                    let key = vm.$dlg.mask("Loading...");
                    axios.post('product_image_delete',product_image)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.product.product_images.pop(response.data);
                        vm.toast("Product Image is successfully deleted",'success')
                    })
                    .catch(function(error) {
                        vm.$dlg.close(null, key),
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>
