<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item active">GST Bill</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button class="btn btn-xs btn-info" @click="changeType('pdf')">
                    PDF
                </button>
                <button class="btn btn-xs btn-warning" @click="changeType('excel')">
                    Excel
                </button>
                 <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                	<div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>GST BILL</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="380" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="GST Bill" @ok="getReport" @cancel="reset">
            <div class="row">
                <div class="col-sm-6">
	                <div class="form-group">
	                    <label for="from_date">From Date *</label>
	                    <input class="form-control" type="date" :class="{'is-invalid': errors.from_date}" v-model="report.from_date" placeholder="From Date" >
	                    <div v-if="errors.from_date" class="invalid-feedback">{{ errors.from_date[0] }}</div>
	                </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" :class="{'is-invalid': errors.to_date}" v-model="report.to_date" placeholder="To Date">
                        <div v-if="errors.to_date" class="invalid-feedback">{{ errors.to_date[0] }}</div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
    data(){
            return{
                status: 0,
                report:{
                	from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    source:'',
                    display_type:'display',
                },
                categories:[],
                subcategories:[],
                errors:[]
            }
        },

        mounted() {
        	let vm = this;
            vm.getReport();
        },
        

        methods:{

            getReport() {
                let vm = this;
                let source = 'bill/tax_report?from_date=' + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type;
                vm.$set(vm.report,'source',source);
            },

            changeType(display_type) {
                let vm = this;
                vm.$set(vm.report,'display_type',display_type);
                vm.getReport();
            },

            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.display_type = 'display',
                vm.getReport()
            },
           
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>