<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item active">Bill Report</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button class="btn btn-xs btn-info" @click="changeType('pdf')">
                    PDF
                </button>
                <button class="btn btn-xs btn-warning" @click="changeType('excel')">
                    Excel
                </button>
                 <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                	<div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>BILL REPORT</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="380" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Bill Report" @ok="getReport" @cancel="reset">
            <div class="row">
                <div class="col-sm-6">
	                <div class="form-group">
	                    <label for="from_date">From Date *</label>
	                    <input class="form-control" type="date" :class="{'is-invalid': errors.from_date}" v-model="report.from_date" placeholder="From Date" >
	                    <div v-if="errors.from_date" class="invalid-feedback">{{ errors.from_date[0] }}</div>
	                </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" :class="{'is-invalid': errors.to_date}" v-model="report.to_date" placeholder="To Date">
                        <div v-if="errors.to_date" class="invalid-feedback">{{ errors.to_date[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="supplier_id">
                            Supplier  
                        </label>
                        <supplier :initialize="report.supplier_code" @input="selectSupplier($event)" ref="supplier_code" :error="errors.supplier_id"></supplier>
                        <div v-if="errors.supplier_id" class="invalid-feedback">{{ errors.supplier_id[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="report_type">Report Type </label>
                        <select class="form-control" v-model="report.report_type">
                            <option value="">Select Report Type</option>
                            <option value="Brief Report">Brief Report</option>
                            <option value="Detail Report">Detail Report</option>
                        </select>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Supplier } from '../../plugins/supplier'
    export default{
        components: { Supplier },
    data(){
            return{
                status: 0,
                report:{
                	from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    supplier_id:'',
                    supplier_code:'',
                    report_type:'Brief Report',
                    source:'',
                    display_type:'display',
                },
                categories:[],
                subcategories:[],
                errors:[]
            }
        },

        mounted() {
        	let vm = this;
            vm.getReport();
        },
        

        methods:{

            getReport() {
                let vm = this;
                let source = 'bill/report?from_date=' + vm.report.from_date + '&to_date=' + vm.report.to_date + '&supplier_id=' + vm.report.supplier_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type;
                vm.$set(vm.report,'source',source);
            },

            selectSupplier(e){
                let vm = this;
                const supplier = e.target.value;
                vm.report.supplier_id = supplier.supplier_id;
                vm.report.supplier_code = supplier.supplier_code; 
            },

            changeType(display_type) {
                let vm = this;
                vm.$set(vm.report,'display_type',display_type);
                vm.getReport();
            },

            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.supplier_id = '',
                vm.report.supplier_code = '',
               	vm.report.report_type = 'Brief Report',
                vm.report.display_type = 'display',
                vm.getReport()
            },
           
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>