@page {
	header: page-header;
	footer: page-footer;
}

body {
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
	font-size: 12px;
}

table {
    border-collapse: collapse;
    width: 100%
}

th {
    text-align: center;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.10em;
    padding-bottom: 0.10em;
}

td {
	text-align: left;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.10em;
    padding-bottom: 0.10em;
}

.table td{
    border: 1px solid #ced4da;
    vertical-align: top;
}

.grade-table, .grade-table th {
	border: 1px solid #ced4da;
}

.grade-table td{
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.tax-table th, .tax-table td {
	border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
.footer-table{
	border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}

strong {
	font-size: 13px;
}

.extra-padding {
	padding-bottom: 50px;
}

.vertical-align {
	vertical-align: bottom;
}

.font-italic {
	font-style: italic;
}