body {
    font-family: sans-serif;
}

a {
    color: #000066;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

thead {
    vertical-align: bottom;
    font-weight: bold;
}

tfoot {
    text-align: center;
    font-weight: bold;
}

th {
    text-align: left;
    padding-left: 0.35em;
    padding-right: 0.35em;p
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    vertical-align: top;
    font-size: 12px;
}

td {
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    font-size: 12px;
}

.no-border {
    border-top: none; border-bottom: none; 
}

.no-border-top {
    border-top: none; 
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
