<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item active">Purchase Bill</li>
            <li class="breadcrumb-right">
                <router-link to="/bills" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Purchase Bills
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Purchase Bill </strong>
                                <strong v-if="status==1">Update Purchase Bill </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="bill_no">Purchase Bill No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.bill_no}" v-model="bill.bill_no" placeholder="Purchase Bill No" ref="bill_no">
                                            <div v-if="errors.bill_no" class="invalid-feedback">{{ errors.bill_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="bill_date">Purchase Bill Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.bill_date}" v-model="bill.bill_date" placeholder="Bill Date" @change="changeDueDate()">
                                            <div v-if="errors.bill_date" class="invalid-feedback">{{ errors.bill_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="bill.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_date">Reference Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.reference_date}" v-model="bill.reference_date" placeholder="Reference Date">
                                            <div v-if="errors.reference_date" class="invalid-feedback">{{ errors.reference_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="supplier_id">
                                                Supplier * 
                                            </label>
                                            <supplier :initialize="bill.supplier_code" @input="selectsupplier($event)" ref="supplier_code" :error="errors.supplier_id"></supplier>
                                            <div v-if="errors.supplier_id" class="invalid-feedback">{{ errors.supplier_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="payment_term_id">Payment Terms*</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.payment_term_id}" v-model="bill.payment_term_id" @change="changeDueDate()" ref="payment_term_id">
                                                <option value="">Select Payment Term</option>
                                                <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>
                                            </select>
                                            <div v-if="errors.payment_term_id" class="invalid-feedback">{{ errors.payment_term_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="due_date">Due Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.due_date}" v-model="bill.due_date" placeholder="Due Date">
                                            <div v-if="errors.due_date" class="invalid-feedback">{{ errors.due_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       <div class="form-group">
                                            <label for="silver_rate">Silver Rate</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.silver_rate}" v-model="bill.silver_rate" placeholder="Silver Rate"  @keyup="setSilverWt">
                                            <div v-if="errors.silver_rate" class="invalid-feedback">{{ errors.silver_rate[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="source_id">Source *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.source_id}" v-model="bill.source_id">
                                                <option value="">Select Source</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.source_id" class="invalid-feedback">{{ errors.source_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="destination_id">Destination *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.destination_id}" v-model="bill.destination_id">
                                                <option value="">Select Desination</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.destination_id" class="invalid-feedback">{{ errors.destination_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="document">Document </label>
                                            <a v-if="status==1 && bill.document!='document.png'" :href="'storage/bills/'+bill.document" class=" text-center text-primary" target="_blank" >Click here to view </a>
                                            <input type="file" name="document" class="form-control" v-on:change="onImageChange($event,'document')">
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr v-if="bill.supplier_id !=''">
                                                    <th width="10%">Category</th>
                                                    <th width="10%">Subcategory</th>
                                                    <th width="10%">Product</th>
                                                    <th width="9%">Gross Wt</th>
                                                    <th width="9%">Cover Wt</th>
                                                    <th width="8%">Net Wt</th>
                                                    <th width="8%">Pieces</th>
                                                    <th width="8%">Silver Rate</th>
                                                    <th width="4%" class="text-center align-middle" rowspan="4">
                                                        <button v-if="bill_product.status==0" class="btn btn-primary " type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="bill_product.status==1" class="btn btn-success " type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                                <tr v-if="bill.supplier_id !=''" >
                                                     
                                                    <td>
                                                        <category :classification_id="bill_product.classification_id" :initialize="bill_product.category.category_name" @input="selectCategory($event)" ref="category_name" :error="errors.category_id"></category>
                                                        <div v-if="errors.category_id" class="invalid-feedback">{{ errors.category_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <subcategory :category_id="bill_product.category_id" :initialize="bill_product.subcategory_name" @input="selectSubcategory($event)"  ref="subcategory_name" :error="errors.subcategory_id"></subcategory>

                                                        <div v-if="errors.subcategory_id" class="invalid-feedback">{{ errors.subcategory_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <product  :subcategory_id="bill_product.subcategory_id" :initialize="bill_product.product_name" @input="selectProduct($event)" ref="product_name" :error="errors.product_id"></product>
                                                        <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.gross_weight}" type="text" v-model.number="bill_product.gross_weight"  placeholder="Gross Wt" ref="gross_weight">
                                                        <div v-if="errors.gross_weight" class="invalid-feedback">{{ errors.gross_weight[0] }}</div>
                                                    </td>
                                                     <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.cover_weight}" type="text" v-model.number="bill_product.cover_weight" >
                                                        <div v-if="errors.cover_weight" class="invalid-feedback">{{ errors.cover_weight[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.net_weight}" type="text" v-model.number="bill_product.net_weight" placeholder="Net Wt" ref="net_weight">
                                                        <div v-if="errors.net_weight" class="invalid-feedback">{{ errors.net_weight[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.pieces}" type="text" v-model.number="bill_product.pieces" placeholder="Pieces" ref="pieces">
                                                        <div v-if="errors.pieces" class="invalid-feedback">{{ errors.pieces[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.silver_rate}" type="text" v-model.number="bill_product.silver_rate" placeholder="Silver Rate" ref="silver_rate">
                                                        <div v-if="errors.silver_rate" class="invalid-feedback">{{ errors.silver_rate[0] }}</div>
                                                    </td>
                                                    
                                                </tr>
                                                <tr v-if="bill.supplier_id !=''">
                                                    <th width="10%">Making Chg</th>
                                                    <th width="10%">Net Rate</th>
                                                    <th width="10%">Piece Rate</th>
                                                    <th width="10%">Amount</th>
                                                    <th width="9%">Others</th>
                                                    <th width="9%">Box Code</th>
                                                    <th width="8%">Box Rate</th>
                                                    <th width="8%">Box Amount</th>
                                                    <th width="8%">Sub Total</th>
                                                </tr>
                                                <tr v-if="bill.supplier_id !=''">
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.making_charges}" type="text" v-model.number="bill_product.making_charges" placeholder="Making Charges" ref="making_charges">
                                                        <div v-if="errors.making_charges" class="invalid-feedback">{{ errors.making_charges[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.net_rate}" type="text" v-model.number="bill_product.net_rate" placeholder="Net Rate" ref="net_rate">
                                                        <div v-if="errors.net_rate" class="invalid-feedback">{{ errors.net_rate[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.piece_rate}" type="text" v-model.number="bill_product.piece_rate" placeholder="Piece Rate" ref="piece_rate">
                                                        <div v-if="errors.piece_rate" class="invalid-feedback">{{ errors.piece_rate[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.amount}" type="text" v-model.number="bill_product.amount" placeholder="Amount" ref="amount">
                                                        <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.other_charges}" type="text" v-model.number="bill_product.other_charges" placeholder="Other Charges" ref="other_charges">
                                                        <div v-if="errors.other_charges" class="invalid-feedback">{{ errors.other_charges[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.box_code}" type="text" v-model.number="bill_product.box_code" placeholder="Box Code" ref="box_code">
                                                        <div v-if="errors.box_code" class="invalid-feedback">{{ errors.box_code[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.box_rate}" type="text" v-model.number="bill_product.box_rate" placeholder="Box Rate" ref="box_rate">
                                                        <div v-if="errors.box_rate" class="invalid-feedback">{{ errors.box_rate[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.box_amount}" type="text" v-model.number="bill_product.box_amount" placeholder="Box Amount" @keyup="calBoxRate()" ref="box_amount">
                                                        <div v-if="errors.box_amount" class="invalid-feedback">{{ errors.box_amount[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sub_total}" type="text" v-model.number="bill_product.sub_total" placeholder="Sub Total" ref="sub_total">
                                                        <div v-if="errors.sub_total" class="invalid-feedback">{{ errors.sub_total[0] }}</div>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="bill.bill_products.length != 0">
                                                    <th>Product Name</th>
                                                    <th>Net Weight</th>
                                                    <th>Piece</th>
                                                    <th>Net Rate</th>
                                                    <th>Piece Rate</th>
                                                    <th>Amount</th>
                                                    <th>Box Amount</th>
                                                    <th colspan="3">Sub Total</th>
                                                </tr>
                                                <tr v-if="bill.bill_products.length != 0" v-for="bill_product, key in bill.bill_products">
                                                    <td>
                                                        {{ bill_product.product_name }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ bill_product.net_weight }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ bill_product.pieces }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.net_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.piece_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.amount | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.box_amount | tofix }}
                                                    </td>
                                                    <td class="text-right" colspan="2">
                                                        {{ bill_product.sub_total | tofix }}
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button class="btn btn-success btn-xs" type="button" @click="editRow(bill_product,key)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>

                                                        <button class="btn btn-danger btn-xs" type="button" @click="deleteRow(bill_product,key)">
                                                            <i class="fa fa-close"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control"  :class="{'is-invalid': errors.term_id}" v-model="bill.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3">Sub Total</th>
                                                    <th class="text-right" colspan="3">{{ subTotal }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="3" colspan="4">
                                                        <textarea rows="4" class="form-control" :class="{'is-invalid': errors.terms}" v-model="bill.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="bill.discount" placeholder="Discount" >
                                                        <div v-if="errors.discount" class="invalid-feedback">
                                                            {{ errors.discount[0] }}
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="bill.discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right" >Discount</th>
                                                    <th class="text-right" colspan="3" >{{ bill.discount_amount | 0 | tofix  }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Shipping/Insurance</th>
                                                    <th class="text-right" colspan="3">
                                                        <input class="form-control" :class="{'is-invalid': errors.shipping_charges}" type="text" v-model.number="bill.shipping_charges" placeholder="Shipping/Insurance" >
                                                        <div v-if="errors.shipping_charges" class="invalid-feedback">
                                                            {{ errors.shipping_charges[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Hallmark Charges</th>
                                                    <th class="text-right" colspan="3">
                                                        <input class="form-control" :class="{'is-invalid': errors.hallmark_charges}" type="text" v-model.number="bill.hallmark_charges" placeholder="Hallmark Charges" >
                                                        <div v-if="errors.hallmark_charges" class="invalid-feedback">
                                                            {{ errors.hallmark_charges[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="5" colspan="4">
                                                        <textarea rows="4" class="form-control" :class="{'is-invalid': errors.note}" v-model="bill.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3"> Packing/others</th>
                                                    <th class="text-right" colspan="3">
                                                        <input class="form-control" :class="{'is-invalid': errors.packing_charges}" type="text" v-model.number="bill.packing_charges" placeholder=" Packing/others" >
                                                        <div v-if="errors.packing_charges" class="invalid-feedback">
                                                            {{ errors.packing_charges[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Basic Amount</th>
                                                    <th class="text-right" colspan="3">{{ basicAmount | tofix }}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="bill.tax_id">
                                                            <option value="">Select Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </th>
                                                    <th class="text-right" >Tax</th>
                                                    <th class="text-right" colspan="3" >{{ bill.tax_amount | tofix }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Round Off </th>
                                                    <th class="text-right" colspan="3"> {{ roundOff | tofix }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Total </th>
                                                    <th class="text-right" colspan="3"> {{ grandTotal | tofix }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Category } from '../../plugins/category'
    import { Subcategory } from '../../plugins/subcategory'
    import { Supplier } from '../../plugins/supplier'
    import { Product } from '../../plugins/latestproduct'

    export default{
        components: {  Supplier, Product, Category, Subcategory},
        props: ['user','org','preference'],
        data(){
            return{
                status: 0,

                bill:{
                    bill_id:'',
                    bill_no:'',
                    document:'',
                    bill_date:new Date().toISOString().slice(0,10),
                    reference_no:'',
                    reference_date:new Date().toISOString().slice(0,10),
                    supplier_id:'',
                    supplier_code:'',
                    supplier_type:'',
                    source_id:'',
                    destination_id:'',
                    due_date:'',
                    sub_total:0,
                    discount:0,
                    discount_type:'%',
                    discount_amount:0,
                    shipping_charges:0,
                    hallmark_charges:0,
                    packing_charges:0,
                    basic_amount:0,
                    tax_id:1,
                    tax_amount:0,
                    total_amount:0,
                    round_off:0,
                    grand_total:0,
                    term_id:'',
                    payment_term_id:'',
                    terms:'',
                    note:'',
                    reference:'',
                    silver_rate:'',
                    bill_products:[],
                    deleted_bill_products:[],
                },
                bill_product: {
                  
                    category_id:'',
                    category_name:'',
                    subcategory_id:'',
                    subcategory_name:'',
                    product_id:'',
                    product_type:'',
                    product_code:'',
                    product_name:'',
                    unit:'',
                    gross_weight:0,
                    cover_weight:0,
                    net_weight:0,
                    pieces:0,
                    silver_rate:0,
                    product_price_id:'',
                    supplier_type:'',
                    making_charges:0,
                    net_rate:0,
                    piece_rate:0,
                    amount:0,
                    other_charges:0,
                    box_code:'',
                    box_rate:0,
                    box_amount:0,
                    sub_total:0,
                    key:'',
                    status:0,
                    type:'Sales',
                    category:[],
                    subcategory:[]
                },
                payment_terms:[],
                places:[],
                taxes:[],
                terms:[],
                errors:[],
                roundoff:'',
            }
        },
        beforeRouteEnter(to, from, next) {
            if(to.name=='bills.create') {
                next(vm => {
                    vm.$refs.bill_no.focus();
                    vm.getPlaces();
                });

            }else if(to.name=='bills.edit'){
                axios.get(`bills/${to.params.bill_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getPlaces(),
                        vm.bill = response.data,
                        vm.bill.deleted_bill_products = [],
                        vm.bill.silver_rate = vm.bill.bill_products[0].silver_rate;
                        vm.bill.supplier_code = response.data.supplier.supplier_code
                        vm.bill.supplier_type = response.data.supplier.supplier_type
                        vm.status = 1;
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error');
                });
            }else{
                // next(vm => {
                //     let url = to.name.replace(/\./g,"/");
                //     let ref = _.split(to.name, '.', 1);
                //     axios.post(`${url}`,JSON.parse(to.query.query))
                //     .then(function (response) {
                //         vm.convertTobill(response.data,ref);
                //         vm.$refs.product_name.focus()
                //     })
                //     .catch(function (error) {
                        
                //         vm.toast(error.message,'error')
                //     });
                // });
            }
        },

        watch:{

            'bill.silver_rate':function(val){
                let vm = this;
                if(vm.bill.silver_rate>0){
                    vm.bill_product.silver_rate = vm.bill.silver_rate;
                }else{
                    vm.bill_product.silver_rate = 0;
                }
                vm.calAmount();
            },

            'bill_product.cover_weight':function(val){
                let vm = this;
                vm.bill_product.net_weight = (vm.bill_product.gross_weight-vm.bill_product.cover_weight);
                vm.calAmount();
            },

            'bill_product.gross_weight':function(val){
                let vm = this;
                vm.bill_product.net_weight = (vm.bill_product.gross_weight-vm.bill_product.cover_weight);
                vm.calAmount();
            },

            'bill_product.net_weight':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.silver_rate':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.making_charges':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.pieces':function(val){
                let vm = this;
                 vm.bill_product.box_amount = (vm.bill_product.box_rate * vm.bill_product.pieces).toFixed(2);
                vm.calAmount();
            },

            'bill_product.piece_rate':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.other_charges':function(val){
                let vm = this;
                vm.calSubTotal();
            },

            'bill_product.box_rate':function(val){
                let vm = this;
                 vm.bill_product.box_amount = (vm.bill_product.box_rate * vm.bill_product.pieces).toFixed(2);
                vm.calSubTotal();
            },

            'bill_product.box_amount':function(val){
                let vm = this;
                vm.calSubTotal();
            },

            'bill.discount':function(val){
                let vm = this;
                if(vm.bill. discount_type=='%' && vm.bill.discount>=100){
                    vm.toast('Please enter approriate amount','error');
                    vm.bill.discount_amount=0;
                }else{
                    vm.calDiscount();
                }
            },

            'bill.discount_type':function(val){
                let vm = this;
                if(vm.bill. discount_type=='%' && vm.bill.discount>=100){
                    vm.toast('Please enter approriate amount','error');
                    vm.bill.discount_amount=0;
                }else{
                    vm.calDiscount();
                }
            },

            'bill.tax_id':function(val){
                let vm = this;
                vm.calTax();
            },

        },

        computed:{
            subTotal: function(){
                let vm = this;
                let sub_total = (vm.bill.bill_products.reduce((prev, cur) => +prev + +cur.sub_total, 0)).toFixed(2);
                vm.bill.sub_total = sub_total;
                return sub_total;
            },

            basicAmount: function(){
                let vm = this;
                let basic_amount = (vm.bill.sub_total-vm.bill.discount_amount)+parseFloat(vm.bill.shipping_charges)+parseFloat(vm.bill.hallmark_charges)+parseFloat(vm.bill.packing_charges);
                vm.bill.basic_amount = basic_amount;

                return basic_amount;
            },

            totalAmount: function(){
                let vm = this;
                let total_amount = (parseFloat(vm.basicAmount) + parseFloat(vm.bill.tax_amount)).toFixed(2);
                vm.bill.total_amount = total_amount;
                return total_amount;
            },

            roundOff: function(){
                let vm = this;
                let round_off = parseFloat(Math.round(parseFloat(vm.totalAmount)) - vm.totalAmount).toFixed(2);
                if(vm.roundoff !=''){
                    round_off = parseFloat(parseFloat(round_off) + parseFloat(vm.roundoff)).toFixed(2);
                }
                vm.bill.round_off = round_off;
                return round_off;
            },

            grandTotal: function(){
                let vm = this;
                let total_amount = parseFloat(vm.basicAmount + parseFloat(vm.bill.tax_amount)).toFixed(2);
                vm.bill.total_amount = total_amount;
                let grand_total = Math.round(parseFloat(total_amount) + parseFloat(vm.bill.round_off)).toFixed(2);
                vm.bill.grand_total = grand_total;
                return grand_total;
            }

        },
        methods:{

            getPlaces() {
                let vm = this;
                axios.post('get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.getTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('get_terms',{ term_type : 'bill' })
                .then(function (response) {
                    vm.terms = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data;
                    if (vm.status == 0) {
                        vm.bill.payment_term_id = vm.payment_terms[0]['payment_term_id']
                    }
                    vm.changeDueDate()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },                       

            changeDueDate(){
                let vm = this;
                axios.post("payment_term/change_date?payment_term_id=" + vm.bill.payment_term_id + '&change_date=' + vm.bill.bill_date)
                .then(function (response) {
                    vm.bill.due_date = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });

            },

             onImageChange(e,type) {
                e.preventDefault();
                let vm = this;
                let image = e.target.files[0]; 
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = (e) => {
                    this.bill.document = e.target.result;
                };
            },


            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.bill.term_id
                });
                if(term) {
                    vm.bill.terms = term[0].term;
                }
            },

            selectsupplier(e){
                let vm = this;
                const supplier = e.target.value;
                vm.bill.supplier_id = supplier.supplier_id;
                vm.bill.supplier_code = supplier.supplier_code;
                vm.bill.supplier_type = supplier.supplier_type;
                vm.bill.destination_id = supplier.place_id;
                vm.bill.payment_term_id = supplier.payment_term_id;
                vm.changeDueDate();
                if(vm.status==0){
                    vm.bill.source_id = vm.org.place_id
                }
            },

            setSilverWt(){
                let vm = this;
                vm.bill.bill_products.forEach(function(value){
                    vm.$set(value,'silver_rate',vm.bill.silver_rate);
                });
            },

          

            selectCategory(e){
                let vm = this;
                const category = e.target.value;
                vm.bill_product.category = category;
                vm.bill_product.category_id = category.category_id;
                vm.bill_product.category_name = category.category_name;
                vm.bill_product.subcategory_id = '';
                vm.bill_product.subcategory_name = '';
                vm.discardbillProduct('product');
            },

            selectSubcategory(e){
                let vm = this;
                const subcategory = e.target.value;
                vm.bill_product.subcategory_id = subcategory.subcategory_id;
                vm.bill_product.subcategory_name = subcategory.subcategory_name;
                vm.discardbillProduct('product');
            },

            selectProduct(e) {
                let vm = this;
                const product = e.target.value;
                console.log(product);
                vm.bill_product.product_id = product.product_id;
                vm.bill_product.product_type = product.product_type;
                vm.bill_product.product_code = product.product_code;
                vm.bill_product.product_name = product.product_name;
                vm.bill_product.unit = product.unit;
                vm.bill_product.product_price_id = product.product_price.product_price_id;
                vm.bill_product.supplier_type = product.product_price.supplier_type;
                vm.bill_product.piece_rate = product.piece_rate;
                vm.bill_product.gross_weight = product.gross_weight;
                vm.bill_product.cover_weight = product.cover_weight;
                vm.bill_product.net_weight = product.net_weight;
                vm.bill_product.making_charges = product.product_price.making_charges;
                vm.bill_product.box_code = product.product_price.box_code;
                vm.bill_product.box_rate = product.product_price.box_rate;
                vm.bill_product.customer_type = product.product_price.customer_type;
                if(vm.bill.silver_rate>0){
                    vm.bill_product.silver_rate = vm.bill.silver_rate;
                }
                vm.$refs.pieces.focus();
            },

            calBoxRate(){
                let vm = this;
                vm.bill_product.box_rate = parseFloat(vm.bill_product.box_amount/vm.bill_product.pieces).toFixed(2);
                vm.calAmount();
            },

            calAmount() {
                let vm = this;

                 let net_rate = parseFloat(vm.bill_product.silver_rate)+parseFloat(vm.bill_product.making_charges);

                    vm.bill_product.net_rate = net_rate;

                if (vm.bill_product.unit =='Weight') {
                    vm.bill_product.amount = (net_rate * vm.bill_product.net_weight).toFixed(2);
                }
                  if (vm.bill_product.unit == 'Pieces') {
                    vm.bill_product.amount = (vm.bill_product.piece_rate * vm.bill_product.pieces).toFixed(2);
                }
                vm.calSubTotal();
            },

            calSubTotal(){
                let vm = this;
                let amount = vm.bill_product.amount;
                    amount = parseFloat(amount) + parseFloat(vm.bill_product.other_charges) + parseFloat(vm.bill_product.box_amount);
                    vm.bill_product.sub_total = parseFloat(amount).toFixed(2);
            },

            calDiscount() {
                let vm = this;
                
                if(vm.bill.discount_type=='%') {
                    vm.bill.discount_amount = ((vm.bill.sub_total * vm.bill.discount)/100).toFixed(2);
                }else{
                    vm.bill.discount_amount = vm.bill.discount;
                }
            
            },

            calTax() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill.tax_id 
                });
                vm.bill.tax_amount = parseFloat((vm.bill.basic_amount * tax[0].tax_rate)/100).toFixed(2);
            },

            checkRow() {
                let vm = this;
                if(vm.bill_product.status==0){
                    vm.addRow();
                }
                else{
                    vm.updateRow();
                }
            },

            addRow() {
                let vm = this;
                axios.post('product/validation',vm.bill_product)
                .then(function (response) {
                    vm.bill.bill_products.push(response.data),
                    vm.discardbillProduct('row')
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            }, 

            editRow(bill_product, key) {
                let vm = this;
                vm.bill_product = bill_product;
                if (vm.bill_product.bill_product_id) {
                    vm.bill_product.category_name = bill_product.category.category_name;
                    vm.bill_product.subcategory_name = bill_product.subcategory.subcategory_name;
                }
                vm.bill_product.status = 1;
                vm.bill_product.key = key;
            },

            updateRow() {
                
                let vm = this;
                axios.post('product/validation',vm.bill_product)
                .then(function (response) {
                    vm.bill.bill_products.splice(response.data.key,1,response.data),
                    vm.discardbillProduct('row')
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            deleteRow(bill_product,key) {
                let vm = this;
                vm.bill.deleted_bill_products.push(bill_product),
                vm.bill.bill_products.splice(key, 1);
                vm.discardbillProduct('row');
            },

            discardbillProduct(type){
                let vm = this;
                if (type == 'row') {
                    vm.bill_product.category_id="";
                    vm.bill_product.category_name="";
                    vm.bill_product.subcategory_id="";
                    vm.bill_product.subcategory_name="";
                    vm.bill_product.category="";
                }
                vm.bill_product.product_id = '',
                vm.bill_product.product_type = '',
                vm.bill_product.product_code = '',
                vm.bill_product.product_name = '',
                vm.bill_product.unit = '',
                vm.bill_product.gross_weight = 0,
                vm.bill_product.net_weight = 0,
                vm.bill_product.pieces = 0,
                vm.bill_product.silver_rate = 0,
                vm.bill_product.product_price_id = '',
                vm.bill_product.supplier_type = '',
                vm.bill_product.cover_weight = 0,
                vm.bill_product.making_charges = 0,
                vm.bill_product.net_rate = 0,
                vm.bill_product.piece_rate = 0,
                vm.bill_product.amount = 0,
                vm.bill_product.other_charges = 0,
                vm.bill_product.box_code = '',
                vm.bill_product.box_rate = 0,
                vm.bill_product.box_amount = 0,
                vm.bill_product.sub_total = 0,
                vm.bill_product.key="";
                vm.bill_product.status=0;
                vm.bill_product.type='Sales';
                vm.errors=[];
            },

            save() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('bills',vm.bill)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Bill successfully created","success");
                    vm.$router.push('/bills')
                })
                .catch(function (error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.patch(`bills/${vm.bill.bill_id}`,vm.bill)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Bill successfully updated","success");
                    vm.$router.push(`/bills/${vm.bill.bill_id}`);
                })
                .catch(function (error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },
            
            discard() {
                let vm = this;
                vm.$router.push('/bills');
            },

            // convertTobill(data,ref){
            //     let vm = this;
            //     switch(`${ref}`){
            //     case "quotation":
            //         vm.$set(vm.bill,'reference','QuotationProduct')
            //         vm.$set(vm.bill,'reference_id','quotation_product_id')
            //         break;
                
            //     default: vm.toast('Error','error');
            //     }                
            //     vm.$set(vm.bill,'bill_products',data),
            //     vm.$set(vm.bill,'supplier_code',data[0][`${ref}`]['supplier']['supplier_code']),
            //     vm.$set(vm.bill,'supplier_type',data[0][`${ref}`]['supplier']['supplier_type']),
            //     vm.$set(vm.bill,'supplier_id',data[0][`${ref}`]['supplier_id']),
            //     vm.$set(vm.bill,'source_id',data[0][`${ref}`]['source_id']),
            //     vm.$set(vm.bill,'destination_id',data[0][`${ref}`]['destination_id']),
            //     vm.getbillNo();
            // },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>