<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item active">Purchase Bills</li>
            <li class="breadcrumb-right">
                <router-link to="/bills/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Purchase Bill
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Purchase Bills</strong>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th >Purchase Bill No</th>
                                            <th >Purchase Bill Date</th>
                                            <th >Supplier</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right">Tax</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="bill,key in bills" @click="show(bill)">
                                            <td class="text-center">
                                                {{ pagination.from+key }}
                                            </td>
                                            <td>
                                                {{ bill.bill_no }}
                                            </td>
                                            <td>
                                                {{ bill.bill_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>
                                                {{ bill.supplier.supplier_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ bill.sub_total | tofix }}
                                            </td>                                          
                                            <td class="text-right">
                                                {{ bill.discount_amount | tofix }}
                                            </td>
                                            <td class="text-right" >
                                                {{ bill.tax_amount | tofix }}
                                            </td> 
                                            <td class="text-right">
                                                {{ bill.total_amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ bill.round_off | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ bill.grand_total | tofix }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script type="text/javascript">
import moment from 'moment'
    export default{
        props:['user','preference'],
        data(){
            return{
               pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                bills:[]
            }
        },
        mounted(){
            let vm = this;
                vm.$refs.search.focus();
                vm.display();
        },
        methods:{

            display(){
                let vm = this;
                axios.get('bills?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.bills = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            
            show(bill) {
                let vm = this;
                vm.$router.push(`/bills/${bill.bill_id}`);
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>