<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item active">Purchase Bill</li>
            <li class="breadcrumb-right">
                <button @click="show" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </button>

                <router-link to="/bills/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="bill.payment_particular == null" @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-if="bill.payment_particular == null" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Purchase Bill No: 
                                <strong>{{ bill.bill_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ bill.bill_satatus }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="pdf" width="100%" height="500" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default{
        props: ['user','org','preference'],
        data(){
            return{
                bill:{},
                errors:{},
                pdf:'',
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.get(`bills/${to.params.bill_id}`)
            .then(function (response) {
                next(vm => {
                    vm.bill = response.data,
                    vm.pdf = "bills/preview/" + vm.bill.bill_id;
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            show() {
                let vm = this;
                vm.$router.push(`/bills/${vm.bill.bill_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/bills/${vm.bill.bill_id}/edit`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$dlg.mask("Loading...");
                    axios.delete(`bills/${vm.bill.bill_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.toast("Purchase Bill successfully deleted","success"),
                        vm.$router.push('/bills')
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>