<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item active">Purchase Bill</li>
            <li class="breadcrumb-right" v-if="Object.keys(bill).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/bills/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="bill.payment_particular == null"  @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button> 
                
                <button v-if="bill.payment_particular == null" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Prrchase Bill : 
                                <strong>{{ bill.bill_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ bill.bill_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>Address : {{ org.address }}</div>
                                        <div>Email : {{ org.email }}</div>
                                        <div>Phone : {{ org.mobile_no }}</div>
                                        <div>PAN : {{ org.pan_no }}</div>
                                        <div>GSTIN : {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(bill).length>0">
                                        <h6 class="mb-1">To :</h6>
                                        <div>
                                            <strong>{{ bill.supplier.supplier_name }}</strong>
                                        </div>
                                        <div>Billing Address : {{ bill.billing_address }}</div>
                                        <div>Shipping Address : {{ bill.shipping_address }}</div>
                                        <div>Email : {{ bill.supplier.email }}</div>
                                        <div>Phone : {{ bill.supplier.mobile_no }}</div>
                                        <div>PAN : {{ bill.supplier.pan_no }}</div>
                                        <div>GSTIN : {{ bill.supplier.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            bill No : <strong>{{ bill.bill_no }}</strong>
                                        </div>
                                        <div>
                                            bill Date : {{ bill.bill_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ bill.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ bill.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div v-if="bill.payment_term">
                                            Payment Term : {{ bill.payment_term.payment_term }}
                                        </div>
                                        <div>Bill Document : 
                                            <a v-if="bill.document!='document.png'" :href="'storage/bills/'+bill.document" class=" text-center text-primary" target="_blank" >Click here to view </a>
                                            <span v-else>No Document Uploaded</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Image</th>
                                                    <th>Product Name</th>
                                                    <th>Net Wt</th>
                                                    <th>Pieces</th>
                                                    <th>Net Rate</th>
                                                    <th>Piece Rate</th>
                                                    <th>Amount</th>
                                                    <th>Box Amount</th>
                                                    <th>Sub Total</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(bill).length>0">
                                                <tr v-for="bill_product, key in bill.bill_products">
                                                    <td class="text-center">
                                                        {{ +key + 1 }}
                                                    </td>
                                                    <td class="text-center">
                                                        <a :href="bill_product.url" data-lightbox="photos">
                                                        <img :src="bill_product.url" alt="No Image" width="50px"></a>
                                                    </td>
                                                    <td>
                                                        {{ bill_product.product_name }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ bill_product.net_weight }}
                                                    </td>
                                                    <td class="text-center">{{ 
                                                        bill_product.pieces }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        bill_product.net_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        bill_product.piece_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        bill_product.amount | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        bill_product.box_amount | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.sub_total | tofix }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="4" colspan="6">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ bill.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.sub_total | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.discount_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Shipping/Insurance</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.shipping_charges | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Hallmark Charges</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.hallmark_charges | tofix }}
                                                    </th>
                                                </tr>
                                                <tr> 
                                                    <td rowspan="4" colspan="6">
                                                        <strong>Note : </strong><br>
                                                        {{ bill.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Packing/others</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.packing_charges | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round Off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.round_off | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.grand_total | tofix }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               <!--  <taxable v-if="Object.keys(bill).length>0" :products="bill.bill_products" :taxtype="bill.source_id!=bill.destination_id?'IGST':'GST'" :preference="preference"/> -->
                            </div>
                            <!-- <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-success" @click="convertTobillReturn">Convert bill To bill-Return</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="mail" size="md" title="Quotation Mail" @ok="sendMail" @cancel="cancelMail" ref="mail" @hide="onHide" @close="cancelMail">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="to">To *</label>
                        <input class="form-control" :class="{'is-invalid': errors.to}" type="text" v-model="mail.to" placeholder="To">
                        <div v-if="errors.to" class="invalid-feedback">{{ errors.to[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="subject">Subject *</label>
                        <input class="form-control" :class="{'is-invalid': errors.subject}" type="text" v-model="mail.subject" placeholder="Subject">
                        <div v-if="errors.subject" class="invalid-feedback">{{ errors.subject[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="body">Body *</label>
                        <textarea rows="6" class="form-control" :class="{'is-invalid': errors.body}" v-model="mail.body" placeholder="Mail Body..." ref="body"></textarea>
                        <div v-if="errors.body" class="invalid-feedback">{{ errors.body[0] }}</div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main> 
</template>
<script >
    import { Taxable } from '../../modal/taxable'

    export default{
        components: { Taxable },
        props: ['user','org','preference'],
        data(){
            return{
                bill:{},
                errors:{},
                redirect_back:'',
                convert_status:0,
                mail:{
                    bill_id:'',
                    to:'',
                    subject:'',
                    body:'',
                },
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.get(`bills/${to.params.bill_id}`)
            .then(function (response) {
                next(vm => {
                    vm.bill = response.data,
                    vm.redirect_back = from.path,
                    vm.getImages();
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },

        methods :{
            onHide(evt){
                if (evt.trigger === "backdrop") {
                    evt.preventDefault();
                }
            },

            getImages(){
                let vm = this;
                vm.bill.bill_products.forEach(function(value){
                    vm.$set(value,'url',"storage/products/"+value.latest_primary_image.image);
                });
            },

            preview() {
                let vm = this;
                vm.$router.push(`/bills/${vm.bill.bill_id}/preview`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/bills/${vm.bill.bill_id}/edit`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$dlg.mask("Loading...");
                    axios.delete(`bills/${vm.bill.bill_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.toast("Bill successfully deleted","success"),
                        vm.$router.push('/bills')
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },


            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }

</script>