<template>
    <div :class="[isOpen ? 'contact contact-open' : 'contact']">
        <div class="contact-inner">
            <input class="form-control contact-selected" 
                :class="{'is-invalid':error}" 
                ref="toggle" 
                :tabindex="tabindex"
                :value="selectedText"
                @click="onToggle"
                @keydown="onKey"
                :disabled="disable==0?false:true">
                <div v-if="error" class="invalid-feedback">{{error[0]}}</div>
            <transition name="fade" mode="out-in">
                <div class="contact-dropdown" v-if="isOpen">
                    <div class="contact-input_wrap">
                        <input type="text" class="form-control contact-input" autocomplete="off" placeholder="Search..."
                            ref="search" @blur="onBlur"
                            @input="onSearch"
                            @keydown.esc="onEsc"
                            @keydown.up="onUpKey"
                            @keydown.down="onDownKey"
                            @keydown.enter="onEnterKey">
                    </div>
                    <table class="table table-responsive-sm table-bordered table-striped table-sm product-list" v-if="results.length">
                        <thead>
                            <tr>
                                <th class="product-link">Name</th>
                                <th class="product-link"> Mobile No</th>
                                <th class="product-link">Email</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="product-item" v-for="(result, index) in results" @mousedown.prevent="select(result)" @mouseover.prevent="onMouse(index)" :class="['product-link', selectIndex === index ? 'product-active':'']">
                                <td>
                                    {{ result.name }}
                                </td>
                                <td >
                                    {{ result.mobile_no }}
                                </td>
                                <td >
                                    {{ result.email }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </transition>
        </div>
    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    export default {
        props: {
            initialize: {
                default: null
            },
            tabindex: {
                default: 0
            },
            error:{
                default:null
            },
            disable:{
                default:0
            },
            user_role:{
                default: 'all'
            }
        },
        data () {
            return {
                selectIndex: -1,
                isOpen: false,
                search: '',
                results: [],
                query: {
                    search: '',
                }
            }
        },
        computed: {
            selectedText() {
                return this.initialize 
                    ? this.initialize
                    : 'Type or click to select'
            }
        },
        methods: {
            focus: function () {
                this.$refs.toggle.focus()
            },
            
            onToggle() {
                if(this.isOpen) {
                    this.isOpen = false
                } else {
                    this.open()
                }
            },
            onKey(e) {
                const KeyCode = e.KeyCode || e.which
                if(!e.shiftKey && KeyCode !== 9 && !this.isOpen) {
                    this.open()
                }
            },
            open() {
                this.fetchData('')
                this.isOpen = true
                this.$nextTick(() => {
                    this.$refs.search.focus()
                })
            },
            fetchData(query) {
                let vm = this;
                vm.query.search = query;
                vm.query.user_role = vm.user_role;
                axios.post('get_limit_users',vm.query)
                .then(function (response) {
                    vm.results = response.data
                });
            },
            onBlur() {
                this.close()
            },
            onEsc() {
                this.close()
            },
            close() {
                this.results = []
                this.isOpen = false
                this.search = ''
                this.selectIndex = -1
            },
            onSearch(e) {
                const q = e.target.value
                this.selectIndex = 0
                this.fetchData(q)
            },
            onUpKey(e) {
                if(this.selectIndex > 0) {
                    this.selectIndex--
                }
            },
            onDownKey(e) {
                if(this.results.length - 1 > this.selectIndex) {
                    this.selectIndex++
                }
            },
            onEnterKey() {
                const found = this.results[this.selectIndex]
                if(found) {
                    this.select(found)
                }
            },
            select(result) {
                this.$emit('input', {
                    target: {
                        value: result
                    }
                })
                this.close()
            },
            onMouse(index) {
                this.selectIndex = index
            }
         }
    }
</script>
