<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item active">Invoice</li>
            <li class="breadcrumb-right">
                <router-link to="/invoices" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Invoices
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Invoice </strong>
                                <strong v-if="status==1">Update Invoice </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="invoice_no">Invoice No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.invoice_no}" v-model="invoice.invoice_no" placeholder="Invoice No" ref="invoice_no">
                                            <div v-if="errors.invoice_no" class="invalid-feedback">{{ errors.invoice_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="invoice_date">Invoice Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.invoice_date}" v-model="invoice.invoice_date" placeholder="Invoice Date" @change="changeDueDate()">
                                            <div v-if="errors.invoice_date" class="invalid-feedback">{{ errors.invoice_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="invoice.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_date">Reference Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.reference_date}" v-model="invoice.reference_date" placeholder="Reference Date">
                                            <div v-if="errors.reference_date" class="invalid-feedback">{{ errors.reference_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="customer_id">
                                                Customer * 
                                            </label>
                                            <customer :initialize="invoice.customer_name" @input="selectCustomer($event)" ref="customer_name" :error="errors.customer_id"></customer>
                                            <div v-if="errors.customer_id" class="invalid-feedback">{{ errors.customer_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="payment_term_id">Payment Terms*</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.payment_term_id}" v-model="invoice.payment_term_id" @change="changeDueDate()" ref="payment_term_id">
                                                <option value="">Select Payment Term</option>
                                                <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>
                                            </select>
                                            <div v-if="errors.payment_term_id" class="invalid-feedback">{{ errors.payment_term_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="due_date">Due Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.due_date}" v-model="invoice.due_date" placeholder="Due Date">
                                            <div v-if="errors.due_date" class="invalid-feedback">{{ errors.due_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="employee_id">
                                                Employee * 
                                            </label>
                                            <employee :initialize="invoice.employee_name" @input="selectEmployee($event)" ref="employee_name" :error="errors.employee_id"></employee>
                                            <div v-if="errors.employee_id" class="invalid-feedback">{{ errors.employee_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       <div class="form-group">
                                            <label for="silver_rate">Silver Rate</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.silver_rate}" v-model="invoice.silver_rate" placeholder="Silver Rate" @keyup="setSilverWt">
                                            <div v-if="errors.silver_rate" class="invalid-feedback">{{ errors.silver_rate[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="source_id">Source *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.source_id}" v-model="invoice.source_id">
                                                <option value="">Select Source</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.source_id" class="invalid-feedback">{{ errors.source_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="destination_id">Destination *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.destination_id}" v-model="invoice.destination_id">
                                                <option value="">Select Desination</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.destination_id" class="invalid-feedback">{{ errors.destination_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr v-if="invoice.customer_id !=''">
\]                                                    <th width="10%">Category</th>
                                                    <th width="10%">Subcategory</th>
                                                    <th width="10%">Product</th>
                                                    <th width="9%">Gross Wt</th>
                                                    <th width="9%">Cover Wt</th>
                                                    <th width="8%">Net Wt</th>
                                                    <th width="8%">Pieces</th>
                                                    <th width="8%">Silver Rate</th>
                                                    <th width="4%" class="text-center align-middle" rowspan="4">
                                                        <button v-if="invoice_product.status==0" class="btn btn-primary " type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="invoice_product.status==1" class="btn btn-success " type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                                <tr v-if="invoice.customer_id !=''" >
                                                    
                                                    <td>
                                                        <category :classification_id="invoice_product.classification_id" :initialize="invoice_product.category_name" @input="selectCategory($event)" ref="category_name" :error="errors.category_id"></category>
                                                        <div v-if="errors.category_id" class="invalid-feedback">{{ errors.category_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <subcategory :category_id="invoice_product.category_id" :initialize="invoice_product.subcategory_name" @input="selectSubcategory($event)"  ref="subcategory_name" :error="errors.subcategory_id"></subcategory>

                                                        <div v-if="errors.subcategory_id" class="invalid-feedback">{{ errors.subcategory_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <product :contact_id="invoice.customer_id" :customer_type="invoice.customer_type" :subcategory_id="invoice_product.subcategory_id" :initialize="invoice_product.product_name" @input="selectProduct($event)" ref="product_name" :error="errors.product_id"></product>
                                                        <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.gross_weight}" type="text" v-model.number="invoice_product.gross_weight"  placeholder="Gross Wt" ref="gross_weight">
                                                        <div v-if="errors.gross_weight" class="invalid-feedback">{{ errors.gross_weight[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.cover_weight}" type="text" v-model.number="invoice_product.cover_weight"  placeholder="Cover Wt" ref="cover_weight">
                                                        <div v-if="errors.cover_weight" class="invalid-feedback">{{ errors.cover_weight[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.net_weight}" type="text" v-model.number="invoice_product.net_weight" placeholder="Net Wt" ref="net_weight">
                                                        <div v-if="errors.net_weight" class="invalid-feedback">{{ errors.net_weight[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.pieces}" type="text" v-model.number="invoice_product.pieces" placeholder="Pieces" ref="pieces">
                                                        <div v-if="errors.pieces" class="invalid-feedback">{{ errors.pieces[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.silver_rate}" type="text" v-model.number="invoice_product.silver_rate" placeholder="Silver Rate" ref="silver_rate">
                                                        <div v-if="errors.silver_rate" class="invalid-feedback">{{ errors.silver_rate[0] }}</div>
                                                    </td>
                                                </tr>
                                                <tr v-if="invoice.customer_id !=''">
                                                    <th width="10%">Making Chg</th>
                                                    <th width="10%">Net Rate</th>
                                                    <th width="10%">Piece Rate</th>
                                                    <th width="10%">Amount</th>
                                                    <th width="9%">Others</th>
                                                    <th width="9%">Box Code</th>
                                                    <th width="8%">Box Rate</th>
                                                    <th width="8%">Box Amount</th>
                                                    <th width="8%">Sub Total</th>
                                                </tr>
                                                <tr v-if="invoice.customer_id !=''">
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.making_charges}" type="text" v-model.number="invoice_product.making_charges" placeholder="Making Charges" ref="making_charges">
                                                        <div v-if="errors.making_charges" class="invalid-feedback">{{ errors.making_charges[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.net_rate}" type="text" v-model.number="invoice_product.net_rate" placeholder="Net Rate" ref="net_rate">
                                                        <div v-if="errors.net_rate" class="invalid-feedback">{{ errors.net_rate[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.piece_rate}" type="text" v-model.number="invoice_product.piece_rate" placeholder="Piece Rate" ref="piece_rate">
                                                        <div v-if="errors.piece_rate" class="invalid-feedback">{{ errors.piece_rate[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.amount}" type="text" v-model.number="invoice_product.amount" placeholder="Amount" ref="amount">
                                                        <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.other_charges}" type="text" v-model.number="invoice_product.other_charges" placeholder="Other Charges" ref="other_charges">
                                                        <div v-if="errors.other_charges" class="invalid-feedback">{{ errors.other_charges[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.box_code}" type="text" v-model.number="invoice_product.box_code" placeholder="Box Code" ref="box_code">
                                                        <div v-if="errors.box_code" class="invalid-feedback">{{ errors.box_code[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.box_rate}" type="text" v-model.number="invoice_product.box_rate" placeholder="Box Rate" ref="box_rate">
                                                        <div v-if="errors.box_rate" class="invalid-feedback">{{ errors.box_rate[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.box_amount}" type="text" v-model.number="invoice_product.box_amount" placeholder="Box Amount" @keyup="calBoxRate()" ref="box_amount">
                                                        <div v-if="errors.box_amount" class="invalid-feedback">{{ errors.box_amount[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sub_total}" type="text" v-model.number="invoice_product.sub_total" placeholder="Sub Total" ref="sub_total">
                                                        <div v-if="errors.sub_total" class="invalid-feedback">{{ errors.sub_total[0] }}</div>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="invoice.invoice_products.length != 0">
                                                    <th>Product Name</th>
                                                    <th>Net Weight</th>
                                                    <th>Piece</th>
                                                    <th>Net Rate</th>
                                                    <th>Piece Rate</th>
                                                    <th>Amount</th>
                                                    <th>Box Amount</th>
                                                    <th colspan="3">Sub Total</th>
                                                </tr>
                                                <tr v-if="invoice.invoice_products.length != 0" v-for="invoice_product, key in invoice.invoice_products">
                                                    <td>
                                                        {{ invoice_product.product_name }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ invoice_product.net_weight }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ invoice_product.pieces }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.net_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.piece_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.amount | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.box_amount | tofix }}
                                                    </td>
                                                    <td class="text-right" colspan="2">
                                                        {{ invoice_product.sub_total | tofix }}
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button class="btn btn-success btn-xs" type="button" @click="editRow(invoice_product,key)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>

                                                        <button class="btn btn-danger btn-xs" type="button" @click="deleteRow(invoice_product,key)">
                                                            <i class="fa fa-close"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control"  :class="{'is-invalid': errors.term_id}" v-model="invoice.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3">Sub Total</th>
                                                    <th class="text-right" colspan="3">{{ subTotal }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="3" colspan="4">
                                                        <textarea rows="4" class="form-control" :class="{'is-invalid': errors.terms}" v-model="invoice.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="invoice.discount" placeholder="Discount" >
                                                        <div v-if="errors.discount" class="invalid-feedback">
                                                            {{ errors.discount[0] }}
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="invoice.discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right" >Discount</th>
                                                    <th class="text-right" colspan="3" >{{ invoice.discount_amount | 0 | tofix  }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Shipping/Insurance</th>
                                                    <th class="text-right" colspan="3">
                                                        <input class="form-control" :class="{'is-invalid': errors.shipping_charges}" type="text" v-model.number="invoice.shipping_charges" placeholder="Shipping/Insurance" >
                                                        <div v-if="errors.shipping_charges" class="invalid-feedback">
                                                            {{ errors.shipping_charges[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Hallmark Charges</th>
                                                    <th class="text-right" colspan="3">
                                                        <input class="form-control" :class="{'is-invalid': errors.hallmark_charges}" type="text" v-model.number="invoice.hallmark_charges" placeholder="Hallmark Charges" >
                                                        <div v-if="errors.hallmark_charges" class="invalid-feedback">
                                                            {{ errors.hallmark_charges[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="5" colspan="4">
                                                        <textarea rows="4" class="form-control" :class="{'is-invalid': errors.note}" v-model="invoice.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3"> Packing/others</th>
                                                    <th class="text-right" colspan="3">
                                                        <input class="form-control" :class="{'is-invalid': errors.packing_charges}" type="text" v-model.number="invoice.packing_charges" placeholder=" Packing/others" >
                                                        <div v-if="errors.packing_charges" class="invalid-feedback">
                                                            {{ errors.packing_charges[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Basic Amount</th>
                                                    <th class="text-right" colspan="3">{{ basicAmount | tofix }}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="invoice.tax_id">
                                                            <option value="">Select Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </th>
                                                    <th class="text-right" >Tax</th>
                                                    <th class="text-right" colspan="3" >{{ invoice.tax_amount | tofix }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Round Off </th>
                                                    <th class="text-right" colspan="3"> {{ roundOff | tofix }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Total </th>
                                                    <th class="text-right" colspan="3"> {{ grandTotal | tofix }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
  import { Category } from '../../plugins/category'
    import { Subcategory } from '../../plugins/subcategory'
    import { Customer } from '../../plugins/customer'
    import { Product } from '../../plugins/product'

    export default{
        components: {  Customer, Product, Category, Subcategory},
        props: ['user','org','preference'],
        data(){
            return{
                status: 0,

                invoice:{
                    invoice_id:'',
                    invoice_no:'',
                    invoice_date:new Date().toISOString().slice(0,10),
                    reference_no:'',
                    reference_date:new Date().toISOString().slice(0,10),
                 
                    customer_id:'',
                    customer_name:'',
                    customer_type:'',
                    source_id:'',
                    destination_id:'',
                    due_date:'',
                    sub_total:0,
                    discount:0,
                    discount_type:'%',
                    discount_amount:0,
                    shipping_charges:0,
                    hallmark_charges:0,
                    packing_charges:0,
                    basic_amount:0,
                    tax_id:1,
                    tax_amount:0,
                    total_amount:0,
                    round_off:0,
                    grand_total:0,
                    term_id:'',
                    payment_term_id:'',
                    terms:'',
                    note:'',
                    reference:'',
                    silver_rate:'',
                    invoice_products:[],
                    deleted_invoice_products:[],
                },
                invoice_product: {
                  
                    category_id:'',
                    category_name:'',
                    subcategory_id:'',
                    subcategory_name:'',
                    product_id:'',
                    product_type:'',
                    product_code:'',
                    product_name:'',
                    unit:'',
                    gross_weight:0,
                    cover_weight:0,
                    net_weight:0,
                    pieces:0,
                    silver_rate:0,
                    product_price_id:'',
                    customer_type:'',
                    making_charges:0,
                    net_rate:0,
                    piece_rate:'',
                    amount:0,
                    other_charges:0,
                    box_code:'',
                    box_rate:0,
                    box_amount:0,
                    sub_total:0,
                    key:'',
                    status:0,
                    type:'Sales'
                },
                payment_terms:[],
                places:[],
                taxes:[],
                terms:[],
                errors:[],
                roundoff:'',
            }
        },
        beforeRouteEnter(to, from, next) {
            if(to.name=='invoices.create') {
                next(vm => {
                    vm.$refs.customer_name.focus();
                    vm.getInvoiceNo();
                });

            }else if(to.name=='invoices.edit'){
                axios.get(`invoices/${to.params.invoice_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getPlaces(),
                        vm.invoice = response.data,
                        vm.invoice.deleted_invoice_products = [],
                        vm.invoice.silver_rate = vm.invoice.invoice_products[0].silver_rate;
                        vm.invoice.customer_name = response.data.customer.customer_name;
                        vm.invoice.customer_type = response.data.customer.customer_type;
                        vm.status = 1;
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error');
                });
            }else{
                next(vm => {
                    let url = to.name.replace(/\./g,"/");
                    let ref = _.split(to.name, '.', 1);
                    console.log(ref);
                    axios.post(`${url}`,JSON.parse(to.query.query))
                    .then(function (response) {
                        if(ref=="indent"){
                            vm.convertIndentToInvoice(response.data,ref);
                        }if(ref=="quotation"){
                            vm.convertQuotationToInvoice(response.data,ref);
                        }if(ref=="proforma"){
                            vm.convertProformaToInvoice(response.data,ref);
                        }
                    })
                    .catch(function (error) {
                        
                        vm.toast(error.message,'error')
                    });
                });
            }
        },

        watch:{

            'invoice.silver_rate':function(val){
                let vm = this;
                if(vm.invoice.silver_rate>0){
                    vm.invoice_product.silver_rate = vm.invoice.silver_rate;
                }else{
                    vm.invoice_product.silver_rate = 0;
                }
                vm.calAmount();
            },

            'invoice_product.cover_weight':function(val){
                let vm = this;
                vm.invoice_product.net_weight = (vm.invoice_product.gross_weight-vm.invoice_product.cover_weight);
                vm.calAmount();
            },

            'invoice_product.gross_weight':function(val){
                let vm = this;
                vm.invoice_product.net_weight = (vm.invoice_product.gross_weight-vm.invoice_product.cover_weight);
                vm.calAmount();
            },

            'invoice_product.net_weight':function(val){
                let vm = this;
                vm.calAmount();
            },

            'invoice_product.silver_rate':function(val){
                let vm = this;
                vm.calAmount();
            },

            'invoice_product.making_charges':function(val){
                let vm = this;
                vm.calAmount();
            },

            'invoice_product.pieces':function(val){
                let vm = this;
                vm.invoice_product.box_amount =  (vm.invoice_product.box_rate * vm.invoice_product.pieces).toFixed(2);
                vm.calAmount();
            },

            'invoice_product.piece_rate':function(val){
                let vm = this;
                vm.calAmount();
            },

            'invoice_product.other_charges':function(val){
                let vm = this;
                vm.calSubTotal();
            },

            'invoice_product.box_rate':function(val){
                let vm = this;
                vm.invoice_product.box_amount =  (vm.invoice_product.box_rate * vm.invoice_product.pieces).toFixed(2);
                vm.calSubTotal();
            },

            'invoice_product.box_amount':function(val){
                let vm = this;
                vm.calSubTotal();
            },

            'invoice.discount':function(val){
                let vm = this;
                if(vm.invoice. discount_type=='%' && vm.invoice.discount>=100){
                    vm.toast('Please enter the approriate amount','error');
                    vm.invoice.discount_amount=0;
                }else{
                    vm.calDiscount();
                }
            },

            'invoice.discount_type':function(val){
                let vm = this;
                if(vm.invoice. discount_type=='%' && vm.invoice.discount>=100){
                    vm.toast('Please enter the approriate amount','error');
                    vm.invoice.discount_amount=0;
                }else{
                    vm.calDiscount();
                }
            },

            'invoice.tax_id':function(val){
                let vm = this;
                vm.calTax();
            },

        },

        computed:{
            subTotal: function(){
                let vm = this;
                let sub_total = (vm.invoice.invoice_products.reduce((prev, cur) => +prev + +cur.sub_total, 0)).toFixed(2);
                vm.invoice.sub_total = sub_total;
                return sub_total;
            },

            basicAmount: function(){
                let vm = this;
                let basic_amount = (vm.invoice.sub_total-vm.invoice.discount_amount)+parseFloat(vm.invoice.shipping_charges)+parseFloat(vm.invoice.hallmark_charges)+parseFloat(vm.invoice.packing_charges);
                vm.invoice.basic_amount = basic_amount;

                return basic_amount;
            },

            totalAmount: function(){
                let vm = this;
                let total_amount = (parseFloat(vm.basicAmount) + parseFloat(vm.invoice.tax_amount)).toFixed(2);
                vm.invoice.total_amount = total_amount;
                return total_amount;
            },

            roundOff: function(){
                let vm = this;
                let round_off = parseFloat(Math.round(parseFloat(vm.totalAmount)) - vm.totalAmount).toFixed(2);
                if(vm.roundoff !=''){
                    round_off = parseFloat(parseFloat(round_off) + parseFloat(vm.roundoff)).toFixed(2);
                }
                vm.invoice.round_off = round_off;
                return round_off;
            },

            grandTotal: function(){
                let vm = this;
                let total_amount = parseFloat(vm.basicAmount + parseFloat(vm.invoice.tax_amount)).toFixed(2);
                vm.invoice.total_amount = total_amount;

                let grand_total = Math.round(parseFloat(total_amount) + parseFloat(vm.invoice.round_off)).toFixed(2);
                vm.invoice.grand_total = grand_total;
                return grand_total;
            }

        },
        methods:{

            getInvoiceNo(){
                let vm = this;
                axios.post('auto_generate_no',{ module:'Invoice', module_id: 'invoice_id'})
                .then(function (response) {
                    vm.invoice.invoice_no = response.data,
                    vm.getPlaces()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPlaces() {
                let vm = this;
                axios.post('get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.getTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('get_terms',{ term_type : 'Invoice' })
                .then(function (response) {
                    vm.terms = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data;
                    if (vm.status == 0) {
                        vm.invoice.payment_term_id = vm.payment_terms[0]['payment_term_id']
                    }
                    vm.changeDueDate()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },                       

            changeDueDate(){
                let vm = this;
                axios.post("payment_term/change_date?payment_term_id=" + vm.invoice.payment_term_id + '&change_date=' + vm.invoice.invoice_date)
                .then(function (response) {
                    vm.invoice.due_date = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });

            },

            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.invoice.term_id
                });
                if(term) {
                    vm.invoice.terms = term[0].term;
                }
            },

            selectCustomer(e){
                let vm = this;
                const customer = e.target.value;
                vm.invoice.customer_id = customer.customer_id;
                vm.invoice.customer_name = customer.customer_name;
                vm.invoice.customer_type = customer.customer_type;
                vm.invoice.destination_id = customer.place_id;
                vm.invoice.payment_term_id = customer.payment_term_id;
                vm.changeDueDate();
                if(vm.status==0){
                    vm.invoice.source_id = vm.org.place_id
                }
                
            },

           

            setSilverWt(){
                let vm = this;
                vm.invoice.invoice_products.forEach(function(value){
                    vm.$set(value,'silver_rate',vm.invoice.silver_rate);
                });
            },

            selectCategory(e){
                let vm = this;
                const category = e.target.value;
                vm.invoice_product.category_id = category.category_id;
                vm.invoice_product.category_name = category.category_name;
                vm.invoice_product.subcategory_id = '';
                vm.invoice_product.subcategory_name = '';
                vm.discardInvoiceProduct('product');
            },

            selectSubcategory(e){
                let vm = this;
                const subcategory = e.target.value;
                vm.invoice_product.subcategory_id = subcategory.subcategory_id;
                vm.invoice_product.subcategory_name = subcategory.subcategory_name;
                vm.discardInvoiceProduct('product');
            },

            selectProduct(e) {
                let vm = this;
                const product = e.target.value;
                vm.invoice_product.product_id = product.product_id;
                vm.invoice_product.product_type = product.product_type;
                vm.invoice_product.product_code = product.product_code;
                vm.invoice_product.product_name = product.product_name;
                vm.invoice_product.unit = product.unit;
                vm.invoice_product.product_price_id = product.customer_product_price.product_price_id;
                vm.invoice_product.customer_type = product.customer_product_price.customer_type;
                vm.invoice_product.gross_weight = product.gross_weight;
                vm.invoice_product.cover_weight = product.cover_weight;
                vm.invoice_product.piece_rate = product.piece_rate;
                vm.invoice_product.net_weight = product.net_weight;
                vm.invoice_product.making_charges = product.customer_product_price.making_charges;
                vm.invoice_product.box_code = product.customer_product_price.box_code;
                vm.invoice_product.box_rate = product.customer_product_price.box_rate;
                if(vm.invoice.silver_rate>0){
                    vm.invoice_product.silver_rate = vm.invoice.silver_rate;
                }
                vm.$refs.pieces.focus();
            },

            calBoxRate(){
                let vm = this;
                vm.invoice_product.box_rate = parseFloat(vm.invoice_product.box_amount/vm.invoice_product.pieces).toFixed(2);
                vm.calAmount();
            },

            calAmount() {
                let vm = this;

                 let net_rate = parseFloat(vm.invoice_product.silver_rate)+parseFloat(vm.invoice_product.making_charges);

                    vm.invoice_product.net_rate = net_rate;

                if (vm.invoice_product.unit == 'Weight') {
                    vm.invoice_product.amount = (net_rate * vm.invoice_product.net_weight).toFixed(2);
                }

                if (vm.invoice_product.unit == 'Pieces') {
                    vm.invoice_product.amount = (vm.invoice_product.piece_rate * vm.invoice_product.pieces).toFixed(2);
                }
                vm.calSubTotal();
            },

            calSubTotal(){
                let vm = this;
                let amount = vm.invoice_product.amount;
                    amount = parseFloat(amount) + parseFloat(vm.invoice_product.other_charges) + parseFloat(vm.invoice_product.box_amount);
                    vm.invoice_product.sub_total = parseFloat(amount).toFixed(2);
            },

            calDiscount() {
                let vm = this;
                
                if(vm.invoice.discount_type=='%') {
                    vm.invoice.discount_amount = ((vm.invoice.sub_total * vm.invoice.discount)/100).toFixed(2);
                }else{
                    vm.invoice.discount_amount = vm.invoice.discount;
                }
            
            },

            calTax() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.invoice.tax_id 
                });
                vm.invoice.tax_amount = parseFloat((vm.invoice.basic_amount * tax[0].tax_rate)/100).toFixed(2);
            },

            checkRow() {
                let vm = this;
                if(vm.invoice_product.status==0){
                    vm.addRow();
                }
                else{
                    vm.updateRow();
                }
            },

            addRow() {
                let vm = this;
                axios.post('product/validation',vm.invoice_product)
                .then(function (response) {
                    vm.invoice.invoice_products.push(response.data),
                    vm.discardInvoiceProduct('row')
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            }, 

            editRow(invoice_product, key) {
                let vm = this;
                vm.invoice_product = invoice_product;
                vm.invoice_product.status = 1;

                if (vm.invoice_product.invoice_product_id) {
                    vm.invoice_product.category_name = invoice_product.category.category_name;
                    vm.invoice_product.subcategory_name = invoice_product.subcategory.subcategory_name;
                }
                vm.invoice_product.key = key;
                console.log(vm.invoice_product.status);
            },

            updateRow() {
                
                let vm = this;
                axios.post('product/validation',vm.invoice_product)
                .then(function (response) {
                    vm.invoice.invoice_products.splice(response.data.key,1,response.data),
                    vm.discardInvoiceProduct('row')
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            deleteRow(invoice_product,key) {
                let vm = this;
                vm.invoice.deleted_invoice_products.push(invoice_product),
                vm.invoice.invoice_products.splice(key, 1);
                vm.discardInvoiceProduct('row');
            },

            discardInvoiceProduct(type){
                let vm = this;
                if (type == 'row') {
                    vm.invoice_product.category_id="";
                    vm.invoice_product.category_name="";
                    vm.invoice_product.subcategory_id="";
                    vm.invoice_product.subcategory_name="";
              
                }
                vm.invoice_product.product_id = '',
                vm.invoice_product.product_type = '',
                vm.invoice_product.product_code = '',
                vm.invoice_product.product_name = '',
                vm.invoice_product.unit = '',
                vm.invoice_product.gross_weight = 0,
                vm.invoice_product.net_weight = 0,
                vm.invoice_product.pieces = 0,
                vm.invoice_product.silver_rate = 0,
                vm.invoice_product.product_price_id = '',
                vm.invoice_product.customer_type = '',
                vm.invoice_product.making_charges = 0,
                vm.invoice_product.net_rate = 0,
                vm.invoice_product.piece_rate = '',
                vm.invoice_product.amount = 0,
                vm.invoice_product.other_charges = 0,
                vm.invoice_product.box_code = '',
                vm.invoice_product.box_rate = 0,
                vm.invoice_product.box_amount = 0,
                vm.invoice_product.sub_total = 0,
                vm.invoice_product.key="";
                vm.invoice_product.status=0;
                vm.invoice_product.type='Sales';
                vm.errors=[];
            },

            save() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('invoices',vm.invoice)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Invoice successfully created","success");
                    vm.$router.push('/invoices')
                })
                .catch(function (error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.patch(`invoices/${vm.invoice.invoice_id}`,vm.invoice)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Invoice successfully updated","success");
                    vm.$router.push(`/invoices/${vm.invoice.invoice_id}`);
                })
                .catch(function (error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },
            
            discard() {
                let vm = this;
                vm.$router.push('/invoices');
            },

           
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>