<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item active">Invoice</li>
            <li class="breadcrumb-right">
                <button @click="show" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </button>

                <router-link to="/invoices/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="invoice.receipt_particular == null" @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-if="invoice.receipt_particular == null" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Invoice No: 
                                <strong>{{ invoice.invoice_no }}</strong>
                                <div class="card-header-actions">
                                    <select class="selectpicker" v-model="display_type" @change="getPdf()" ref="display_type">
                                        <option value="Work Sheet">Work Sheet</option>
                                        <option value="Invoice">Invoice</option>
                                    </select>
                                </div>  
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="pdf" width="100%" height="500" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default{
        props: ['user','org','preference'],
        data(){
            return{
                invoice:{},
                errors:{},
                pdf:'',
                display_type:'Work Sheet',
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.get(`invoices/${to.params.invoice_id}`)
            .then(function (response) {
                next(vm => {
                    vm.invoice = response.data,
                    vm.$set(vm.invoice,'display_type',vm.display_type);
                    // vm.pdf = "invoices/preview/" + vm.invoice.invoice_id+'/'+vm.display_type;
                    vm.$nextTick(() => {
                        vm.getPdf();
                    });
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            getPdf(){
                let vm = this;
                vm.pdf = "invoices/preview/" + vm.invoice.invoice_id+'/'+vm.display_type;
            },

            show() {
                let vm = this;
                vm.$router.push(`/invoices/${vm.invoice.invoice_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/invoices/${vm.invoice.invoice_id}/edit`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$dlg.mask("Loading...");
                    axios.delete(`invoices/${vm.invoice.invoice_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.toast("Invoice successfully deleted","success"),
                        vm.$router.push('/invoices')
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>