<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item active">Invoice</li>
            <li class="breadcrumb-right" v-if="Object.keys(invoice).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/invoices/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="invoice.receipt_particular == null"  @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button> 
                
                <button v-if="invoice.receipt_particular == null" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <!-- <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
                <button  @click="addMail" type="button" class="btn btn-xs btn-primary">
                    Send Mail
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Invoice : 
                                <strong>{{ invoice.invoice_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ invoice.invoice_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>Address : {{ org.address }}</div>
                                        <div>Email : {{ org.email }}</div>
                                        <div>Phone : {{ org.mobile_no }}</div>
                                        <div>PAN : {{ org.pan_no }}</div>
                                        <div>GSTIN : {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(invoice).length>0">
                                        <h6 class="mb-1">To :</h6>
                                        <div>
                                            <strong>{{ invoice.customer.customer_name }}</strong>
                                        </div>
                                        <div>Billing Address : {{ invoice.billing_address }}</div>
                                        <div>Shipping Address : {{ invoice.shipping_address }}</div>
                                        <div>Email : {{ invoice.customer.email }}</div>
                                        <div>Phone : {{ invoice.customer.mobile_no }}</div>
                                        <div>PAN : {{ invoice.customer.pan_no }}</div>
                                        <div>GSTIN : {{ invoice.customer.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Invoice No : <strong>{{ invoice.invoice_no }}</strong>
                                        </div>
                                        <div>
                                            Invoice Date : {{ invoice.invoice_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Due Date : {{ invoice.due_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ invoice.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ invoice.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div v-if="invoice.payment_term">
                                            Payment Term : {{ invoice.payment_term.payment_term }}
                                        </div>
                                        <div>
                                           Employee : {{ invoice.employee.employee_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Image</th>
                                                    <th>Product Name</th>
                                                    <th>Net Wt</th>
                                                    <th>Pieces</th>
                                                    <th>Net Rate</th>
                                                    <th>Piece Rate</th>
                                                    <th>Amount</th>
                                                    <th>Box Amount</th>
                                                    <th>Sub Total</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(invoice).length>0">
                                                <tr v-for="invoice_product, key in invoice.invoice_products">
                                                    <td class="text-center">
                                                        {{ +key + 1 }}
                                                    </td>
                                                    <td class="text-center">
                                                        <a :href="invoice_product.url" data-lightbox="photos">
                                                        <img :src="invoice_product.url" alt="No Image" width="50px"></a>
                                                    <td>
                                                        {{ invoice_product.product_name }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ invoice_product.net_weight }}
                                                    </td>
                                                    <td class="text-center">{{ 
                                                        invoice_product.pieces }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        invoice_product.net_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        invoice_product.piece_rate | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        invoice_product.amount | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        invoice_product.box_amount | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.sub_total | tofix }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="4" colspan="6">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ invoice.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.sub_total | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.discount_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Shipping/Insurance</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.shipping_charges | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Hallmark Charges</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.hallmark_charges | tofix }}
                                                    </th>
                                                </tr>
                                                <tr> 
                                                    <td rowspan="4" colspan="6">
                                                        <strong>Note : </strong><br>
                                                        {{ invoice.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Packing/others</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.packing_charges | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round Off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.round_off | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.grand_total | tofix }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               <!--  <taxable v-if="Object.keys(invoice).length>0" :products="invoice.invoice_products" :taxtype="invoice.source_id!=invoice.destination_id?'IGST':'GST'" :preference="preference"/> -->
                            </div>
                            <!-- <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-success" @click="convertToInvoiceReturn">Convert Invoice To Invoice-Return</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="mail" size="md" title="Quotation Mail" @ok="sendMail" @cancel="cancelMail" ref="mail" @hide="onHide" @close="cancelMail">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="to">To *</label>
                        <input class="form-control" :class="{'is-invalid': errors.to}" type="text" v-model="mail.to" placeholder="To">
                        <div v-if="errors.to" class="invalid-feedback">{{ errors.to[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="subject">Subject *</label>
                        <input class="form-control" :class="{'is-invalid': errors.subject}" type="text" v-model="mail.subject" placeholder="Subject">
                        <div v-if="errors.subject" class="invalid-feedback">{{ errors.subject[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="body">Body *</label>
                        <textarea rows="6" class="form-control" :class="{'is-invalid': errors.body}" v-model="mail.body" placeholder="Mail Body..." ref="body"></textarea>
                        <div v-if="errors.body" class="invalid-feedback">{{ errors.body[0] }}</div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main> 
</template>
<script >
    import { Taxable } from '../../modal/taxable'

    export default{
        components: { Taxable },
        props: ['user','org','preference'],
        data(){
            return{
                invoice:{
                    employee:[],
                    customer:[],
                },
                errors:{},
                redirect_back:'',
                convert_status:0,
                mail:{
                    invoice_id:'',
                    to:'',
                    subject:'',
                    body:'',
                },
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.get(`invoices/${to.params.invoice_id}`)
            .then(function (response) {
                next(vm => {
                    vm.invoice = response.data,
                    vm.redirect_back = from.path
                    vm.setImages();
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
            
        },

        methods :{
            onHide(evt){
                if (evt.trigger === "backdrop") {
                    evt.preventDefault();
                }
            },

            setImages(){
                let vm = this;
                vm.invoice.invoice_products.forEach(function(value){
                    vm.$set(value,'url',"storage/products/" + value.latest_primary_image.image);
                });
            },

            preview() {
                let vm = this;
                vm.$router.push(`/invoices/${vm.invoice.invoice_id}/preview`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/invoices/${vm.invoice.invoice_id}/edit`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$dlg.mask("Loading...");
                    axios.delete(`invoices/${vm.invoice.invoice_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.toast("Invoice successfully deleted","success"),
                        vm.$router.push('/invoices')
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            addMail(){
                let vm = this;
                vm.mail.invoice_id = vm.invoice.invoice_id;
                vm.mail.to = vm.invoice.customer.email;
                vm.$refs.mail.show();
            },

            sendMail(){
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('invoice_mail',vm.mail)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Mail sent successfully",'success'),
                    vm.cancelMail();
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error');
                    vm.$refs.mail.show();
                });
            },

            cancelMail(){
                let vm = this;
                vm.mail.invoice_id = '';
                vm.mail.to = '';
                vm.mail.subject = '';
                vm.mail.body = '';
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }

</script>