<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item active">Configuration</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                Configuration
                            </div>
                            <ul class="list-group">
                                <router-link  to="/organization" class="list-group-item">
                                    Organization
                                </router-link>
                                <li class="list-group-item">
                                    <router-link to="/term">
                                        Terms
                                    </router-link>
                                </li>
                                <router-link to="/tax" class="list-group-item">
                                    Taxes
                                </router-link>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

