<template>
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" >
            <h5 class="navbar-brand-full img-avatar" style="margin-top:5px">
                <img :src="logo" width="90px" height="50px" alt="no image">
            </h5>
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <router-link to="/home" class="nav-link">
                    <h5 style="margin-top: 7px"><b>{{ org.org_name }}</b></h5>
                </router-link>
            </li>
            <li class="nav-item px-3">
                <router-link to="/configuration" class="nav-link">
                    Configuration
                </router-link>
            </li>
            
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ user.name }}
                    <img class="img-avatar" :src="image" alt="User Image">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <router-link to="/profile" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </router-link >
                    <router-link to="/profile" class="dropdown-item">
                        <i class="fa fa-user-plus"></i> Change Password
                    </router-link>
                    <a class="dropdown-item" href="#" @click="Logout">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
        
        <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
</template>
<script>
    export default {
        props:['org','user'],
        data(){
            return{
                image:"storage/users/" + this.user.avatar,
                logo:"storage/logo.jpeg",
            }
        },
        methods:{
            Logout(){
                axios.post('logout').then(function(response) {
                    location.reload();
                }).catch(function(error){
                    location.reload();
                });
            }
        }
    }
</script>