<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-right">
                <button v-b-modal.report type="button" class="btn btn-sm btn-success">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    Filter
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
               <div class="row">
                    <div class="col-sm-2">
                        <router-link to="/user/display">
                            <section class="card text-center">
                                <div class="bg-primary pt-4 pb-4">
                                    <i class="fa fa-user-o fa-4x"></i>
                                </div>
                                <div class="card-body pt-3 pb-0">
                                    <h5 class="count">{{ data.users}}</h5>
                                    <p>Users</p>
                                </div>
                            </section>
                        </router-link>
                    </div>
                
                    <div class="col-sm-2">
                        <router-link to="/customers">
                            <section class="card text-center">
                                <div class="bg-success pt-4 pb-4">
                                    <i class="fa fa-users fa-4x"></i>
                                </div>
                                <div class="card-body pt-3 pb-0">
                                    <h5 class="count">{{ data.customers}}</h5>
                                    <p>Customers</p>
                                </div>
                            </section>
                        </router-link>
                    </div>
                    <div class="col-sm-2">
                        <router-link to="/suppliers">
                            <section class="card text-center">
                                <div class="bg-info pt-4 pb-4">
                                    <i class="fa fa-id-badge fa-4x"></i>
                                </div>
                                <div class="card-body pt-3 pb-0">
                                    <h5 class="count">{{ data.suppliers}}</h5>
                                    <p>Suppliers</p>
                                </div>
                            </section>
                        </router-link>
                    </div>
         
                    <div class="col-sm-2">
                        <router-link to="/bills">
                            <section class="card text-center">
                                <div class="bg-warning pt-4 pb-4">
                                    <i class="fa fa-clipboard fa-4x"></i>
                                </div>
                                <div class="card-body pt-3 pb-0">
                                    <h5 class="count">{{ data.bills}}</h5>
                                    <p>Bills</p>
                                </div>
                            </section>
                        </router-link>
                    </div>
                   
                    <div class="col-sm-2">
                        <router-link to="/invoices">
                            <section class="card text-center">
                                <div class="bg-success pt-4 pb-4">
                                    <i class="fa fa-outdent fa-4x"></i>
                                </div>
                                <div class="card-body pt-3 pb-0">
                                    <h5 class="count">{{ data.invoices }}</h5>
                                    <p>Invoices</p>
                                </div>
                            </section>
                        </router-link>
                    </div>
                    
               </div>
            </div>
        </div>
    </main>
</template>
<script>
import Chart from 'chart.js';
    const moment = require('moment');
    export default{
        props: ['org','user'],
        data(){
            return{
                 report: {
                    from_date:moment().subtract(335,'d').format('YYYY-MM-DD'),
                    to_date:moment().format('YYYY-MM-DD'),
                },
               data:[],
               chart_data:[]
            }
        },
        mounted(){
            let vm = this;
            vm.getData();
        },
        methods:{
            getData(){
                let vm = this;
                axios.post('data/view', vm.report)
                .then(function (response) {
                    vm.data = response.data.result;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            toast(message,message_type) {
                let vm =this;
                vm.$dlg.toast(message,function(){   
                }, {
                    messageType: message_type,
                    position: 'topRight',
                    language: 'en',
                    closeTime: 3
                })
            }
           
        }
    }
</script>