<template>
    <div class="sidebar">
        <nav class="sidebar-nav" style="overflow: scroll">
            <ul class="nav" >
                <li class="nav-item">
                    <router-link to="/home" class="nav-link">
                        <i class="nav-icon icon-home"></i>Home
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/configuration" class="nav-link">
                        <i class="nav-icon icon-settings"></i>Configuration
                    </router-link>
                </li>
                <li class="nav-title" v-b-toggle.collapse-people>
                    <i class="fa fa-plus pl-1 pr-2"></i>People
                </li>
                <b-collapse id="collapse-people">
                    <li class="nav-item">
                        <router-link to="/user/display" class="nav-link">
                            <i class="nav-icon icon-user"></i>Sales Person
                        </router-link>
                    </li>
                   
                    <li class="nav-item">
                        <router-link to="/suppliers" class="nav-link">
                            <i class="nav-icon icon-people"></i>Vendors
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/customers" class="nav-link">
                            <i class="nav-icon icon-people"></i>Customers
                        </router-link>
                    </li>
                </b-collapse>
                <li class="nav-title" v-b-toggle.collapse-inventory >
                    <i class="fa fa-plus pl-1 pr-2"></i>Inventory
                </li>
                <b-collapse id="collapse-inventory">
                   
                    <li class="nav-item">
                        <router-link to="/categories" class="nav-link">
                            <i class="nav-icon icon-grid"></i>Categories
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/products" class="nav-link">
                            <i class="nav-icon icon-settings"></i>Products
                        </router-link>
                    </li>
                </b-collapse>
                <li class="nav-title" v-b-toggle.collapse-purchase>
                    <i class="fa fa-plus pl-1 pr-2"></i>Purchase
                </li>
                <b-collapse id="collapse-purchase">
                    <li class="nav-item">
                        <router-link to="/bills" class="nav-link">
                            <i class="nav-icon icon-settings"></i>Purchase Bills
                        </router-link>
                    </li>
                   
                </b-collapse>
                <li class="nav-title" v-b-toggle.collapse-sales>
                    <i class="fa fa-plus pl-1 pr-2"></i>Sales
                </li>
                <b-collapse id="collapse-sales">
                    <li class="nav-item">
                        <router-link to="/quotations" class="nav-link">
                            <i class="nav-icon icon-settings"></i>Quotations
                        </router-link>
                    </li>
                    
                </b-collapse>
                
                <li class="nav-item">
                    <router-link to="/report" class="nav-link">
                        <i class="nav-icon icon-settings"></i>Reports
                    </router-link>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
</template>

<script>
    export default {
        props:['user'],
         data(){
            return{
                image:"storage/users/" + this.user.avatar,
            }
        },
        mounted() {
        }
    }
</script>