<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item active">Reports</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                     <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Purchase
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/bill/report">
                                        Bill Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/purchase/vendor_ledger">
                                        Vendor Ledger
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/report/payments_receipts">
                                        Payment & Receipt Report
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Sales
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/proforma/report">
                                        Proforma Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/quotation/report">
                                        Quotation Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/invoice/report">
                                        Invoice Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/sales/customer_ledger">
                                        Customer Ledger
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Sales Staff
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/indent/report">
                                        Indent Report
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Inventory
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/product/stock_report">
                                        Stock Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/product/reorder_level_report">
                                        Reorder Level Report
                                    </router-link>
                                </li>
                                 <li class="list-group-item">
                                    <router-link to="/bill/tax_report">
                                        Bill GST Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/invoice/tax_report">
                                        Invoice GST Report
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
