<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item active">Terms</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Term</strong>
                                <strong v-if="status==1">Update Term</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="term_type">Term Type *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.term_type}" v-model="term.term_type" ref="term_type">
                                                <option value="">Select Term Type</option>
                                                <option value="Purchase Order">Purchase Order</option>
                                                <option value="Bill">Bill</option>
                                                <option value="Payments">Payments</option>
                                                <option value="Quotation">Quotation</option>
                                                <option value="Indent">Indent</option>
                                                <option value="Invoice">Invoice</option>
                                                <option value="Proforma" v-show="0">Proforma</option>
                                                <option value="Delivery Challan" v-show="0">Delivery Challan</option>
                                                <option value="Receipts">Receipts</option>
                                            </select>
                                            <div v-if="errors.term_type" class="invalid-feedback">{{ errors.term_type[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="label">Label *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.label}" type="text" v-model="term.label" placeholder="Label">
                                            <div v-if="errors.label" class="invalid-feedback">{{ errors.label[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="term">Term *</label>
                                            <textarea class="form-control" :class="{'is-invalid': errors.term}" v-model="term.term"   type="text"  placeholder="Term"></textarea>
                                            <div v-if="errors.term" class="invalid-feedback">{{ errors.term[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>Terms</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Term Type</th>
                                            <th>Label</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="term,key in terms">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ term.term_type }}</td>
                                            <td>{{ term.label }}</td>
                                            <td class="text-nowrap">
                                                <button class="btn btn-sm btn-success" @click="edit(term)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(term)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
            	pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                term:{
                	term_id:'',
                    term_type:'',
                    label:'',
                    term:''
                },
                terms:[],
                errors:[]
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            discard(){
                let vm = this;
                vm.errors=[],
                vm.term.term_type='',
                vm.term.label='',
                vm.term.term='',
                vm.pagination.search='',
                vm.status=0,
                vm.$refs.term_type.focus()
                vm.display()
            },

            display() {
                let vm = this;
                axios.post('term/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.terms = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('term/store',this.term)
                .then(function (response) {
                    vm.discard(),
                    vm.$dlg.close(null, key),
                    vm.toast("Term is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$dlg.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            edit(term){
                let vm = this;
                vm.term = term,
                vm.status = 1,
                vm.$refs.term_type.focus()
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('term/update',this.term)
                .then(function (response) {
                    vm.discard(),
                    vm.$dlg.close(null, key),
                    vm.toast("Term is successfully updated","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$dlg.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            destroy(term){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$dlg.mask("Loading...");
                    axios.post(`term/destroy/${term.term_id}`)
                    .then(function (response) {
                    	vm.discard(),
                        vm.$dlg.close(null, key),
                        vm.toast("Term is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>