<template>
    <div :class="[isOpen ? 'employee employee-open' : 'employee']">
        <div class="employee-inner">
            <input class="form-control employee-selected" :class="{'is-invalid':error}"
                ref="toggle" 
                :tabindex="tabindex"
                :value="selectedText"
                @click="onToggle"
                @keydown="onKey"
                >
                <!-- disabled="category_id==null?true:false" -->
            <div v-if="error" class="invalid-feedback">{{error[0]}}</div>
            <transition name="fade" mode="out-in">
                <div class="employee-dropdown" v-if="isOpen">
                    <div class="employee-input_wrap">
                        <input type="text" class="form-control employee-input" autocomplete="off" placeholder="Search..."
                            ref="search" @blur="onBlur"
                            @input="onSearch"
                            @keydown.esc="onEsc"
                            @keydown.up="onUpKey"
                            @keydown.down="onDownKey"
                            @keydown.enter="onEnterKey">
                    </div>
                    <ul class="employee-list">
                        <li class="employee-item" v-for="(result, index) in results" @mousedown.prevent="select(result)" @mouseover.prevent="onMouse(index)" :class="['employee-link', selectIndex === index ? 'employee-active':'']">
                            {{ result.subcategory_name }}
                        </li>
                    </ul>
                </div>
            </transition>
        </div>
    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    export default {
        props: {
            initialize: {
                default: null
            },
            tabindex: {
                default: 0
            },
            error:{
                default:null
            },
            category_id:{
                default:null
            }
        },
        data () {
            return {
                selectIndex: -1,
                isOpen: false,
                search: '',
                results: [],
                query: {
                    search: ''
                }
            }
        },
        computed: {
            selectedText() {
                return this.initialize 
                    ? this.initialize
                    : 'Type or click to select category'
            }
        },
        methods: {
            focus: function () {
                this.$refs.toggle.focus()
            },
            
            onToggle() {
                if(this.isOpen) {
                    this.isOpen = false
                } else {
                    this.open()
                }
            },
            onKey(e) {
                const KeyCode = e.KeyCode || e.which
                if(!e.shiftKey && KeyCode !== 9 && !this.isOpen) {
                    this.open()
                }
            },
            open() {
                this.fetchData('')
                this.isOpen = true
                this.$nextTick(() => {
                    this.$refs.search.focus()
                })
            },
            fetchData(query) {
                let vm = this;
                vm.query.search = query;
                vm.query.category_id = vm.category_id;
                axios.post('get_limit_subcategories',vm.query)
                .then(function (response) {
                    vm.results = response.data
                });
            },
            onBlur() {
                this.close()
            },
            onEsc() {
                this.close()
            },
            close() {
                this.results = []
                this.isOpen = false
                this.search = ''
                this.selectIndex = -1
            },
            onSearch(e) {
                const q = e.target.value
                this.selectIndex = 0
                this.fetchData(q)
            },
            onUpKey(e) {
                if(this.selectIndex > 0) {
                    this.selectIndex--
                }
            },
            onDownKey(e) {
                if(this.results.length - 1 > this.selectIndex) {
                    this.selectIndex++
                }
            },
            onEnterKey() {
                const found = this.results[this.selectIndex]
                if(found) {
                    this.select(found)
                }
            },
            select(result) {
                this.$emit('input', {
                    target: {
                        value: result
                    }
                })
                this.close()
            },
            onMouse(index) {
                this.selectIndex = index
            }
         }
    }
</script>