<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Vendor</li>
            <li class="breadcrumb-right">
                <router-link to="/suppliers" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Vendors
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New Vendor</strong>
                                <strong v-show="status==1">Update Vendor</strong>
                            </div>
                            <div class="card-body">
                                 <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="supplier_code">Vendor Code *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.supplier_code}" v-model="supplier.supplier_code"  placeholder="Supplier Code" readonly>
                                            <div v-if="errors.supplier_code" class="invalid-feedback">{{ errors.supplier_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="supplier_name">Vendor Name *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.supplier_name}" v-model="supplier.supplier_name"  placeholder="Supplier Name" ref="supplier_name">
                                            <div v-if="errors.supplier_name" class="invalid-feedback">{{ errors.supplier_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input class="form-control"  type="text" :class="{'is-invalid': errors.email}" v-model="supplier.email" placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No *</label>
                                            <input class="form-control"  type="text" :class="{'is-invalid': errors.mobile_no}" v-model="supplier.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="phone_no">Phone No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.phone_no}" v-model="supplier.phone_no"  placeholder="Phone No">
                                            <div v-if="errors.phone_no" class="invalid-feedback">{{ errors.phone_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="gstin_no">GSTIN No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.gstin_no}" v-model="supplier.gstin_no"  placeholder="GSTIN No">
                                            <div v-if="errors.gstin_no" class="invalid-feedback">{{ errors.gstin_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" >
                                <div class="card-header-actions">
                                     <router-link to="/suppliers" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button  class="btn btn-sm btn-success" type="button" @click="save()" v-show="status==0">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
    	props:['user'],
        data(){
            return{
                status: 0,
                supplier:{
                    supplier_id :'',
                    supplier_code :'',
                    supplier_name :'',
                    email :'',
                    mobile_no :'',
                    phone_no :'',
                    gstin_no :'',
                },
                payment_terms:[],
                places:[],
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='suppliers.create') {
                next(vm => {
                    vm.$refs.supplier_name.focus(),
                    vm.discard();
                    vm.get_supplier_code();     
                });
            }
            else {
                axios.get(`suppliers/${to.params.supplier_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.discard(),
                        vm.supplier = response.data,
                        vm.status = 1,
                        vm.$refs.supplier_name.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        methods:{
            discard(){
                let vm = this;
                vm.supplier.supplier_id  = '',
                vm.supplier.supplier_code  = '',
                vm.supplier.supplier_name  = '',
                vm.supplier.email  = '',
                vm.supplier.mobile_no  = '',
                vm.supplier.phone_no  = '',
                vm.supplier.gstin_no  = '',
                vm.status=0,
                vm.$refs.supplier_name.focus();
            },

            get_supplier_code(){
                let vm = this;
                axios.post('get_supplier_code')
                .then(function (response) {
                    vm.supplier.supplier_code = response.data;
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            save(){
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('suppliers',this.supplier)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Supplier is successfully created",'success'),
                    vm.$router.push('/suppliers')
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.patch(`suppliers/${vm.supplier.supplier_id}`,vm.supplier)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Supplier is successfully updated",'success'),
                    vm.$router.push('/suppliers')
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>