<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Vendors</li>
            <li class="breadcrumb-right">
                <router-link to="/suppliers/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Vendor
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Vendors</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Vendor Code</th>
                                            <th>Vendor Name</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="supplier,key in suppliers" @click='show(supplier)' class="cursor">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ supplier.supplier_code }}</td>
                                            <td>{{ supplier.supplier_name }}</td>
                                            <td>{{ supplier.email }}</td>
                                            <td>{{ supplier.mobile_no }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script type="text/javascript">
import moment from 'moment'
    export default{
    	props:['user'],
        data(){
            return{
               pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                suppliers:[]
            }
        },
        mounted(){
            let vm = this;
                vm.$refs.search.focus();
                vm.display();
        },
        methods:{

            display(){
                let vm = this;
                axios.get('suppliers?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.suppliers = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            
            show(supplier) {
                let vm = this;
                vm.$router.push(`/suppliers/${supplier.supplier_id}`);
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>