<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Vendor</li>
            <li class="breadcrumb-right">
                <router-link to="/suppliers" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/suppliers/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Vendor Details
                                <strong>  </strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">  </span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                        <tbody>
                                            <tr>
                                                <th>Name</th>
                                                <td>{{ supplier.supplier_name }}</td>
                                               
                                                <th>Code</th>
                                                <td>{{ supplier.supplier_code }}</td>
                                            </tr>
                                            <tr>
                                                <th>Mobile No</th>
                                                <td>{{ supplier.mobile_no }}</td>
                                                <th>Phone No</th>
                                                <td>{{ supplier.phone_no }}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>{{ supplier.email }}</td>
                                                <th>GSTIN No</th>
                                                <td>{{ supplier.gstin_no }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </main>
</template>

<script >
    import moment from 'moment'
    export default{
        props:['user'],
        data(){
            return{
                supplier:{},
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.get(`suppliers/${to.params.supplier_id}`)
            .then(function (response) {
                next(vm => {
                    vm.supplier = response.data;
                });
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
       

        methods:{
            edit() {
                let vm = this;
                vm.$router.push(`/suppliers/${vm.supplier.supplier_id}/edit`);
            },

            destroy(){
                let vm = this;
                if(confirm('Do you want to continue ?')) {
                    let key = vm.$dlg.mask("Loading...");
                    axios.delete(`suppliers/${vm.supplier.supplier_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.toast("Supplier is successfully Deleted",'success'),
                        vm.$router.push('/suppliers')
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>
