<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales Staff</li>
            <li class="breadcrumb-item active">Sessions</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Sessions</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Employee</th>
                                            <th>Customer</th>
                                            <th>Login</th>
                                            <th>Start Address</th>
                                            <!-- <th>Login Lat & Long</th> -->
                                            <th>Logout</th>
                                            <th>End Address</th>
                                            <!-- <th>Logout Lat & Long</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="session,key in sessions" @click='show(session)' class="cursor">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ session.employee.employee_name }}</td>
                                            <td>{{ session.customer.customer_name }}</td>
                                            <td>{{ session.login_date_time | moment("DD-MM-YYYY h:m:s a") }}</td>
                                           <!--  <td>{{ session.login_lat }}
                                                <br>{{ session.login_lat }}
                                            </td> -->
                                            <td> {{ session.start_address }}</td>
                                            <td>{{ session.logout_date_time | moment("DD-MM-YYYY h:m:s a") }}</td>
                                            <td> {{ session.end_address }}</td>
                                            <!-- <td>{{ session.logout_lat }}
                                                <br>{{ session.logout_lat }}
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script type="text/javascript">
import moment from 'moment'
    export default{
    	props:['user'],
        data(){
            return{
               pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                sessions:[]
            }
        },
        mounted(){
            let vm = this;
                vm.$refs.search.focus();
                vm.display();
        },
        methods:{

            display(){
                let vm = this;
                axios.get('sessions?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.sessions = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            
            show(session) {
                let vm = this;
                vm.$router.push(`/sessions/${session.session_id}`);
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>