<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales Staff</li>
            <li class="breadcrumb-item active">Session</li>
            <li class="breadcrumb-right">
                <router-link to="/sessions" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Session Details
                                <strong>  </strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">  </span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                        <tbody>
                                            <tr>
                                                <th>Employee</th>
                                                <td v-if="session.employee != null">{{ session.employee.employee_name }}</td>
                                                <th>Customer</th>
                                                <td v-if="session.customer != null">{{ session.customer.customer_name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Login</th>
                                                <td>{{ session.login_date_time | moment("DD-MM-YYYY h:m:s a") }}</td>
                                                <th>Login Lat : <br> Long :</th>
                                                <td>{{ session.login_lat }} <br> {{ session.login_long }}</td>
                                            </tr>
                                            <tr>
                                                <th>Logout</th>
                                                <td>{{ session.logout_date_time | moment("DD-MM-YYYY h:m:s a") }}</td>
                                                <th>Logout Lat : <br>Login  Long :</th>
                                                <td>{{ session.logout_lat }} <br> {{ session.logout_long }}</td>
                                            </tr>
                                            <tr >
                                                <th>Feedback</th>
                                                <td colspan="3">{{ session.feedback }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" v-if="session.video != ''" >
                        <div class="card">
                            <div class="card-header">
                                Sessiond Records
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <!-- <iframe width="420" height="315" src="//www.youtube.com/embed/wy2DgqL1P7s" frameborder="0" allowfullscreen></iframe> -->

                                    <iframe width="420" height="315" :src="video" frameborder="0" allowfullscreen></iframe>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</template>

<script >
    import moment from 'moment'
    export default{
        props:['user'],
        data(){
            return{
                session:{},
                video:'',
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.get(`sessions/${to.params.session_id}`)
            .then(function (response) {
                next(vm => {
                    vm.session = response.data;
                    vm.video = 'storage/records/sample.mp4'
                });
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>
