<template>
    <div :class="[isOpen ? 'product product-open' : 'product']">
        <div class="product-inner">
            <input class="form-control product-selected" :class="{'is-invalid':error}" 
                ref="toggle" 
                :tabindex="tabindex"
                :value="selectedText"
                @click="onToggle"
                @keydown="onKey"
                >
                <!-- disabled="subcategory_id==null?true:false" -->
                <div v-if="error" class="invalid-feedback">{{error[0]}}</div>
            <transition name="fade" mode="out-in">
                <div class="product-dropdown" v-if="isOpen">
                    <div class="product-input_wrap">
                        <input type="text"  class="form-control product-input" autocomplete="off" placeholder="Search..."
                            ref="search" @blur="onBlur"
                            @input="onSearch"
                            @keydown.esc="onEsc"
                            @keydown.up="onUpKey"
                            @keydown.down="onDownKey"
                            @keydown.enter="onEnterKey" >
                        
                    </div>
                    <table class="table table-responsive-sm table-bordered table-striped table-sm" v-if="results.length">
                        <thead>
                            <tr>
                                <th class="product-link">Product Code</th>
                                <th class="product-link">Product Name</th>
                                <th class="product-link">HSN Code</th>
                                <th class="product-link">Making Charges</th>
                                <th class="product-link">Unit</th>
                                <th class="product-link">Size</th>
                                <th class="product-link">Stone Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="product-item" v-for="(result, index) in results" @mousedown.prevent="select(result)" @mouseover.prevent="onMouse(index)" :class="['product-link', selectIndex === index ? 'product-active':'']">
                                <td>
                                    {{ result.product_name }}
                                </td>
                                <td>
                                    {{ result.product_name }}
                                </td>
                                <td>
                                    {{ result.hsn_code }}
                                </td>
                                <td class="text-right">
                                    {{ result.product_price.making_charges}}
                                </td>
                                <td>
                                    {{ result.unit }}
                                </td>
                                <td>
                                    {{ result.size }}
                                </td>
                                <td>
                                    {{ result.stone_color }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </transition>
        </div>
    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    export default {
        props: {
            initialize: {
                default: null
            },
            tabindex: {
                default: 0
            },
            error:{
                default: null
            },
            contact_id:{
                default: null
            },
            customer_type:{
                default: null
            },
            subcategory_id:{
                default: null
            },

        },
        data () {
            return {
                selectIndex: -1,
                isOpen: false,
                search: '',
                results: [],
                query: {
                    search: ''
                },
                temp:[],
                
            }
        },
        computed: {
            selectedText() {
                return this.initialize 
                    ? this.initialize
                    : 'Type or click to select Product'
            }
        },
        methods: {
            focus: function () {
                this.$refs.toggle.focus()
            },

            onToggle() {
                if(this.isOpen) {
                    this.isOpen = false
                } else {
                    this.open()
                }
            },
            onKey(e) {
                const KeyCode = e.KeyCode || e.which
                if(!e.shiftKey && KeyCode !== 9 && !this.isOpen) {
                    this.open()
                }
            },
            open() {
                this.fetchData('')
                this.isOpen = true
                this.$nextTick(() => {
                    this.$refs.search.focus()
                })
            },
            fetchData(query) {
                let vm = this;
                vm.results = [];
                vm.query.search = query;
                vm.query.subcategory_id = vm.subcategory_id;
                axios.post('get_latest_product_price',vm.query)
                .then(function (response) {
                    vm.results = response.data;
                });
            },
            onBlur() {
                this.close()
            },
            onEsc() {
                this.close()
            },
            close() {
                this.results = []
                this.isOpen = false
                this.search = ''
                this.selectIndex = -1
            },
            onSearch(e) {
                const q = e.target.value
                this.selectIndex = 0
                this.fetchData(q)
            },
            onUpKey(e) {
                if(this.selectIndex > 0) {
                    this.selectIndex--
                }
            },
            onDownKey(e) {
                if(this.results.length - 1 > this.selectIndex) {
                    this.selectIndex++
                }
            },
            onEnterKey() {
                const found = this.results[this.selectIndex]
                if(found) {
                    this.select(found)
                }
            },
            select(result) {
                this.$emit('input', {
                    target: {
                        value: result
                    }
                })
                this.close()
            },
            onMouse(index) {
                this.selectIndex = index
            }
         }
    }
</script>
