<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Customer</li>
            <li class="breadcrumb-right">
                <router-link to="/customers" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Customers
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New Customer</strong>
                                <strong v-show="status==1">Update Customer</strong>
                            </div>
                            <div class="card-body">
                                 <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="customer_name">Customer Name *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.customer_name}" v-model="customer.customer_name"  placeholder="Customer Name" ref="customer_name">
                                            <div v-if="errors.customer_name" class="invalid-feedback">{{ errors.customer_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="email">Email </label>
                                            <input class="form-control"  type="text" :class="{'is-invalid': errors.email}" v-model="customer.email" placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                   <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No</label>
                                            <input class="form-control"  type="text" :class="{'is-invalid': errors.mobile_no}" v-model="customer.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="gstin_no">GSTIN No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.gstin_no}" v-model="customer.gstin_no"  placeholder="GSTIN No">
                                            <div v-if="errors.gstin_no" class="invalid-feedback">{{ errors.gstin_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="city">City </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.city}" v-model="customer.city"  placeholder="City" @keyup="setCustomerCode()">
                                            <div v-if="errors.city" class="invalid-feedback">{{ errors.city[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="pincode"> Pincode </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.pincode}" v-model="customer.pincode"  placeholder="Pincode">
                                            <div v-if="errors.pincode" class="invalid-feedback">{{ errors.pincode[0] }}</div>
                                        </div>
                                    </div>
                                     <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address"> Address</label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.address}" v-model="customer.address"  placeholder=" Address"></textarea>
                                            <div v-if="errors.address" class="invalid-feedback">{{ errors.address[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" >
                                <div class="card-header-actions">
                                     <router-link to="/customers" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button  class="btn btn-sm btn-success" type="button" @click="save()" v-show="status==0">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
    	props:['user'],
        data(){
            return{
                status: 0,
                customer:{
                    customer_id :'',
                    customer_name :'',
                    email :'',
                    mobile_no :'',
                    phone_no :'',
                    gstin_no :'',
                    address :'',
                    city:'',
                    pincode:''
                },
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='customers.create') {
                next(vm => {
                    vm.$refs.customer_name.focus(),
                    vm.discard();
                });
            }
            else if(to.name=='customers.edit') {
                axios.get(`customers/${to.params.customer_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.discard(),
                        vm.customer = response.data,
                        vm.status = 1,
                        vm.$refs.customer_name.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }else{
                 next(vm => {
                    // let url = to.name.replace(/-/g,"/");
                    // let ref = _.split(to.name, '-', 1);
                    let lead = JSON.parse(to.query.query);
                    vm.$set(vm.customer,'username',lead.name);
                    vm.$set(vm.customer,'email',lead.email);
                    vm.$set(vm.customer,'mobile_no',lead.mobile_no);
                    vm.$set(vm.customer,'phone_no',lead.phone_no);
                    vm.$set(vm.customer,'lat',lead.lat);
                    vm.$set(vm.customer,'lng',lead.lng);
                    vm.$set(vm.customer,'shipping_address',lead.address);
                    vm.$set(vm.customer,'billing_address',lead.address);
                    vm.get_customer_code();
                });
            }
        },

        methods:{
            discard(){
                let vm = this;
                vm.customer.customer_id  = '',
                vm.customer.customer_name  = '',
                vm.customer.email  = '',
                vm.customer.mobile_no  = '',
                vm.customer.phone_no  = '',
                vm.customer.gstin_no  = '',
                vm.customer.address  = '',
                vm.customer.city  = '',
                vm.customer.pincode  = '',
                vm.status=0,
                vm.$refs.customer_name.focus();
            },

            save(){
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('customers',vm.customer)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Customer is successfully created",'success'),
                    vm.$router.push('/customers')
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.patch(`customers/${vm.customer.customer_id}`,vm.customer)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("Customer is successfully updated",'success'),
                    vm.$router.push('/customers')
                })
                .catch(function(error) {
                    vm.$dlg.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>