<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Customers</li>
            <li class="breadcrumb-right">
                <router-link to="/customers/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Customer
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Customers</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Customer Name</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>Pincode</th>
                                            <th>City</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="customer,key in customers" @click='show(customer)' class="cursor">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ customer.customer_name }}</td>
                                            <td>{{ customer.email }}</td>
                                            <td>{{ customer.mobile_no }}</td>
                                            <td>{{ customer.pincode }}</td>
                                            <td>{{ customer.city }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="import" title="Import Customers" @ok="upload">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                            <b>Upload File</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" >
                                            <label for="master_value">File </label>
                                            <input class="form-control" :class="{'is-invalid': errors.file}" type="file" placeholder="Excel File" ref="file">
                                            <div v-if="errors.file" class="invalid-feedback">{{ errors.file[0] }}</div>
                                        </div>
                                         <a href="storage/demo/customer.xlsx" >
                                            <i class="fa fa-file-excel-o"></i> Excel Format
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script type="text/javascript">
import moment from 'moment'
    export default{
    	props:['user'],
        data(){
            return{
               pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                customers:[],
                errors:[]
            }
        },
        mounted(){
            let vm = this;
                vm.$refs.search.focus();
                vm.display();
        },
        methods:{

            display(){
                let vm = this;
                axios.get('customers?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.customers = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            
            show(customer) {
                let vm = this;
                vm.$router.push(`/customers/${customer.customer_id}`);
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>