<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Customer</li>
            <li class="breadcrumb-right">
                <button @click="show" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Customer Document 
                                <strong>  </strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">  </span>
                                </div>
                            </div>
                            <div class="card-body">
                                <iframe :src="customer.pdf" width="100%" height="380" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script >
    export default{
        props:['user'],
        data(){
            return{
                customer:{},
                errors:[]
            }
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.$set(vm.customer,'pdf',`storage/customer_documents/${to.params.document}`);
                vm.$set(vm.customer,'customer_id',to.params.customer_id);
            })
        },
        
        methods:{
            show(){
                let vm = this;
                vm.$router.push(`/customers/${vm.customer.customer_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>
