<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Customer</li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-right">
                <router-link to="/customers" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button class="btn btn-xs btn-info" @click="changeType('pdf')">
                    PDF
                </button>
                <button class="btn btn-xs btn-warning" @click="changeType('excel')">
                    Excel
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>CUSTOMER REPORT</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="380" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                report: {
                    display_type:'display',
                },
                errors:[]
            }
        },

        mounted(){
            let vm = this;
            vm.getData();
        },
        
        methods:{

            getData() {
                let vm = this;
                let source = 'customer/report/?display_type=' + vm.report.display_type;

                vm.$set(vm.report,'source',source);
            },


            changeType(display_type) {
                let vm = this;
                vm.$set(vm.report,'display_type',display_type);
                vm.getData();
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>