<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Sales Person</li>
            <li class="breadcrumb-right">
                <router-link to="/user/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Sales Persons
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong>Avatar</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <img  :src="user.avatar" class="img-thumbnail" height="200" width="100%">
                                            <input type="file" name="avatar" class="form-control" v-on:change="onImageChange($event,'avatar')">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New Sales Person</strong>
                                <strong v-show="status==1">Update Sales Person</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="username">Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.username}"  v-model="user.username" type="text" placeholder="Name" ref="username" >
                                            <div v-if="errors.username" class="invalid-feedback">{{ errors.username[0] }}</div>
                                        </div>
                                    </div>
                                
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.email}" v-model="user.email"   type="text"  placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-if="status == 0">
                                        <div class="form-group">
                                            <label for="password">Password *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.password}" v-model="user.password"  type="password" placeholder="Password">
                                            <div v-if="errors.password" class="invalid-feedback">{{ errors.password[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.mobile_no}" v-model="user.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="user_role">User Role *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.user_role}" v-model="user.user_role">
                                                <option value="">Select User Role</option>
                                                <option value="Admin">Admin</option>
                                                <option value="Employee">Employee</option>
                                                <option value="Manager">Manager</option>
                                            </select>
                                            <div v-if="errors.user_role" class="invalid-feedback">{{ errors.user_role[0] }}</div>
                                        </div>
                                    </div>
                                
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address">Address *</label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.address}" v-model="user.address"  placeholder="Address"></textarea>
                                            <div v-if="errors.address" class="invalid-feedback">{{ errors.address[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard('button')">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button  class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <router-link to="/user/display" v-show="status==1" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                status: 0,
                user:{
                    user_id:'',
                    username:'',
                    email:'',
                    password:'',
                    mobile_no:'',
                    user_role:'',
                    address:'',
                    avatar:''
                },
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='user-create') {
                next(vm => {
                    vm.$refs.username.focus();
                    vm.discard();
                });
            }
            else {
                axios.post(`user/edit/${to.params.user_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.discard();
                        vm.user = response.data,
                        vm.status = 1,
                        vm.$refs.username.focus();
                        vm.user.avatar = 'storage/users/'+vm.user.avatar
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        methods:{
            discard(type){
                let vm = this;
                vm.errors='',
                vm.user.username='',
                vm.user.email='',
                vm.user.password='',
                vm.user.mobile_no='',
                vm.user.user_role='',
                vm.user.address='',
                vm.user.avatar='',
                vm.$refs.username.focus();
                if (vm.status == 0) {
                    vm.user.avatar = 'storage/users/avatar.png'
                }
                if (type == 'button') {
                    vm.$router.push('/user/display');
                }
            },

            onImageChange(e,type) {
                e.preventDefault();
                let vm = this;
                let image = e.target.files[0]; 
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = (e) => {
                    this.user.avatar = e.target.result;
                };
            },

            save() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('user/store',this.user)
                .then(function (response) {
                    vm.discard(),
                    vm.$dlg.close(null, key),
                    vm.toast("User is successfully created","success");
                    vm.$router.push('/user/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$dlg.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            update() {
                let vm = this;
                let key = vm.$dlg.mask("Loading...");
                axios.post('user/update',this.user)
                .then(function (response) {
                    vm.$dlg.close(null, key),
                    vm.toast("User is successfully updated","success"),
                    vm.$router.push('/user/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$dlg.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>