<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item active">Sales Person</li>
            <li class="breadcrumb-right">
                <router-link to="/user/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/user/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong> Sales Person Details</strong>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <div class="col-sm-12 form-group">
                                            <img  :src="usr.avatar" class="img-thumbnail" height="100" width="100%">
                                        </div>
                                    </div >
                                    <div class="col-sm-8">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <tbody>
                                                <tr>
                                                    <th class="text-nowrap">Name</th>
                                                    <td>{{ usr.name }}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-nowrap">User Name</th>
                                                    <td>{{ usr.username }}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-nowrap">Email</th>
                                                    <td>{{ usr.email }}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-nowrap">Mobile No</th>
                                                    <td>{{ usr.mobile_no }}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-nowrap">Address</th>
                                                    <td>{{ usr.address }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</template>

<script >
    import moment from 'moment'
    export default{
        props:['user'],
        data(){
            return{
                usr:{},
                redirect_back:'',
                bulk_customer_assignment:{
                    user_id:'',
                    pincode:'',
                },
                errors:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            // axios.post(`user/edit/${to.params.user_id}`)
            //     .then(function (response) {
            //     next(vm => {
            //         vm.usr = response.data,
            //         vm.$set(vm.usr,'avatar','storage/users/'+vm.usr.avatar);
            //     });
            // })
            // .catch(function (error) {
            //     vm.toast(error.message,'error')
            // });

            next(vm=>{
                vm.getUser(to.params.user_id);
            })
        },
        
        methods:{
            getUser(user_id){
                let vm = this;
                axios.post(`user/edit/${user_id}`)
                .then(function (response) {
                    vm.usr = response.data,
                    vm.bulk_customer_assignment.user_id = vm.usr.user_id;
                    vm.$set(vm.usr,'avatar','storage/users/'+vm.usr.avatar);
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            edit() {
                let vm = this;
                vm.$router.push(`/user/edit/${vm.usr.user_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$dlg.mask("Loading...");
                    axios.post(`user/destroy/${vm.usr.user_id}`)
                    .then(function (response) {
                        vm.$dlg.close(null, key),
                        vm.$router.push(`/user/display`);
                        vm.toast("User deleted successfully","success");
                    })
                    .catch(function (error) {
                        vm.$dlg.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>
